@charset "UTF-8";
/* CSS Document */

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* FONTS */

@font-face {
	font-family: Ubuntu Bold;
	src:url('../fonts/Ubuntu-Bold.eot'); /* IE9 */
	src:url('../fonts/Ubuntu-Bold.eot?') format('eot'), /* IE6-IE8 */ url('../fonts/Ubuntu-Bold.woff') format('woff'), /* BROWSERS MODERNOS */ url('../fonts/Ubuntu-Bold.ttf') format('truetype'), /* SAFARI, ANDROID, IOS */ url('../fonts/Ubuntu-Bold.svg#svgUbuntu-Bold') format('svg'); /* LEGACY IOS RETINA */
}
@font-face {
	font-family: Ubuntu Regular;
	src:url('../fonts/Ubuntu-Regular.eot'); /* IE9 */
	src:url('../fonts/Ubuntu-Regular.eot?') format('eot'), /* IE6-IE8 */ url('../fonts/Ubuntu-Regular.woff') format('woff'), /* BROWSERS MODERNOS */ url('../fonts/Ubuntu-Regular.ttf') format('truetype'), /* SAFARI, ANDROID, IOS */ url('../fonts/Ubuntu-Regular.svg#svgUbuntu-Regular') format('svg'); /* LEGACY IOS RETINA */
}
@font-face {
	font-family: Ubuntu Light;
	src:url('../fonts/Ubuntu-Light.eot'); /* IE9 */
	src:url('../fonts/Ubuntu-Light.eot?') format('eot'), /* IE6-IE8 */ url('../fonts/Ubuntu-Light.woff') format('woff'), /* BROWSERS MODERNOS */ url('../fonts/Ubuntu-Light.ttf') format('truetype'), /* SAFARI, ANDROID, IOS */ url('../fonts/Ubuntu-Light.svg#svgUbuntu-Light') format('svg'); /* LEGACY IOS RETINA */
}
@font-face {
	font-family: Lato Bold Italic;
	src:url('../fonts/Lato-Bold-Italic.eot'); /* IE9 */
	src:url('../fonts/Lato-Bold-Italic?') format('eot'), /* IE6-IE8 */ url('../fonts/Lato-Bold-Italic.woff') format('woff'), /* BROWSERS MODERNOS */ url('../fonts/Lato-Bold-Italic.ttf') format('truetype'), /* SAFARI, ANDROID, IOS */ url('../fonts/Lato-Bold-Italic.svg#svgLato-Bold-Italic') format('svg'); /* LEGACY IOS RETINA */
}
@font-face {
	font-family: Lato Regular;
	src:url('../fonts/Lato-Regular.eot'); /* IE9 */
	src:url('../fonts/Lato-Regular?') format('eot'), /* IE6-IE8 */ url('../fonts/Lato-Regular.woff') format('woff'), /* BROWSERS MODERNOS */ url('../fonts/Lato-Regular.ttf') format('truetype'), /* SAFARI, ANDROID, IOS */ url('../fonts/Lato-Regular.svg#svgLato-Regular') format('svg'); /* LEGACY IOS RETINA */
}
@font-face {
	font-family: Olympic Branding;
	src:url('../fonts/Olympic-Branding.eot'); /* IE9 */
	src:url('../fonts/Olympic-Branding.eot?') format('eot'), /* IE6-IE8 */ url('../fonts/Olympic-Branding.woff') format('woff'), /* BROWSERS MODERNOS */ url('../fonts/Olympic-Branding.ttf') format('truetype'), /* SAFARI, ANDROID, IOS */ url('../fonts/Olympic-Branding.svg#svgOlympic-Branding') format('svg'); /* LEGACY IOS RETINA */
}
/* TÍTULOS */

h1 {
	font-family: Olympic Branding;
	font-size:125px;
	line-height:128px;
	text-align:center;
	text-transform:none;
	color:#FFF;
}
h2 {
	font-family:Ubuntu Bold;
	font-size:25px;
	line-height:28px;
	text-align:center;
	text-transform:none;
	color:#FFF;
}
h3 {
	font-family:Ubuntu Bold;
	font-size:20px;
	line-height:23px;
	text-align:center;
	text-transform:uppercase;
	color:#666;
	margin-bottom:25px;
}
h4 {
	font-family:Ubuntu Regular;
	font-size:20px;
	line-height:23px;
	text-align:left;
	text-transform:none;
	color:#FFF;
}
h5 {
	font-family:Ubuntu Light;
	font-size:20px;
	line-height:23px;
	text-align:left;
	text-transform:none;
}
h6 {
	font-family:Ubuntu Bold Italic;
	font-size:16px;
	line-height:19px;
	text-align:left;
	text-transform:none;
	color:#666;
}

/* PARÁGRAFO */

p {
	font-family: Lato Regular;
	font-size:13px;
	line-height:16px;
	text-align:left;
	padding:10px;
	color:#666;
}
/* BOTÕES */

.btn {
	border-radius: 3px;
	color: #666666;
	font-family: Ubuntu Bold;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border:solid 1px #666666;
	cursor:pointer;
	left: 50%;
	margin-left: -100px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	position: relative;
	top: 50%;
}
.btn:hover {
	background-color: #666666;
	color: #FFFFFF;
}

/* CONTEÚDO */

.container {
	max-width: 960px;
	min-width:600px;
	margin: 0 auto;
	display:table;
}

body {
	background-color:#F8F8F8;
	overflow-x:hidden
}

/* LINHA */
.container-row {
	display: table;
	float: left;
	width: 100%;
}

div:after, div:before {
	content: "";
	display: block;
	clear: both;
}
.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}

/* IMAGENS */
img {
	max-width: 100%;
	margin:25px 1
}
div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* CABEÇALHO */

#header {
	position:fixed;
	top: 0px;
	width: 100%;
	height:auto;
	background-image:url(../img/background-header.jpg);
	background-repeat:repeat;
	padding:5px 0 0 0;
	z-index:1000;
}
#header #logo {
	background-image:url(../img/logo.png);
	background-position:top left;
	width:181px;
	height:87px;
	position:absolute;
	top:7px;
	padding:0;
}

/* BUTÕES */

#buttons {
	position:fixed;
	top: 70%;
	width: 100%;
	height:61px;
	z-index:2000;
}

#previous {
	float:left;
	background-image:url(../img/btn-left.jpg);
	width:150px;
	height:61px;
}
#next {
	float:right;
	background-image:url(../img/btn-right.jpg);
	width:150px;
	height:61px;
}


/* MENU */

#header nav {
	margin:50px 0 25px 50%;
	float:left;
}
#header ul {
	float:left;
}
#header li {
	display:inline-block;
	margin-right:10px;
}
#header li:after {
	content:"/";
	color:#7E352F;
	margin-left:10%;
}

#header a {
	text-decoration:none;
	color:#7E352F;
	font-family:Lato Bold Italic;
	font-size:15px;
	text-transform:uppercase;
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
}
#header a:hover {
	color:#FFFFFF;
	opacity:0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
}
#social-media {
	width:90px;
	height:20px;
	float:right;
	margin:50px 0 25px 0;
}
#social-media a {
	opacity: 1;
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
	transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	display:inline-block;
	margin:0 5% 0 5%;
}
#social-media a:hover {
	opacity:0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.50;
}


/* TOPO */
#top {
	background-image:url(../img/background-portfolio-section.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height:450px;
	margin:95px 0 0 0;
}
#top .container-row {
	margin-top:120px;
}

/* DESCRIÇÃO */
#work-description {
	position:relative;
	width:100%;
	margin:260px 0 0 0;
}

#work-description .container {
	width:100%;
}

#work-description .container-row {
	width:100%;
}
.work-details {
	float: left;
	width: 55%;
	margin-bottom:125px;
}
.work-details h4 {
	color: #666;
	border-bottom-color: #EF6C5E;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    line-height: 45px;
    width: 55%;
	text-transform:uppercase;
}
.work-details p {
	padding-left:0px;
}
.work-details .btn {
	left: 0%;
	margin-left: 0px;
	top:20px;
	margin-right:50px;
}
.work-details-list {
	float: right;
	width: 40%;
}
.work-details-list h6 {
	text-transform:uppercase;
	font-style:italic;
	margin-bottom:25px;
}

/* LISTA */
ul li {
	font-family: Lato Regular;
	font-size:13px;
	line-height:16px;
	text-align:left;
	color:#666;
	padding:3px 0 3px 0;
	list-style-image:url(../img/list-square.jpg);
	list-style-position:inside;
}

/* THUMB */

#thumb {
	position:relative;
	width:100%;
	margin-bottom:45px;
}

#thumb img {
	margin-bottom:45px;
}

/* RODAPÉ */

#footer {
	float:left;
    background-image: url(../img/background-footer.jpg);
	width:100%;
    background-repeat: repeat-x;
	height:178px;
	margin:0;
	padding:0;
}
#footer-inner {
	margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	max-width:940px;
	min-width:600px;
    padding:0;
    position: relative;
}
#footer-inner p {
	margin-top:20px;
}
#footer-logo {
	clear: none;
    display: inline-block;
    float: left;
}
#footer-inner address {
    color: #FFFFFF;
    float: right;
    font-family: Lato Regular;
    font-size: 13px;
	margin-top:65px;
}