@charset "UTF-8";
/* CSS Document */
#spotlight-services {
	width:100%;
	background-color:#FFF;
	height:381px;
	position:relative;
	float:left;
}
#spotlight-services .container {
	padding:81px 0 0 0;
}
#camera {
	background-image:url(../img/parallax-03.png);
	background-repeat:no-repeat;
	background-position:28% 100%;
	position:absolute;
	z-index:8888;
	width:100%;
	margin:170px 0 0 0;
	height:151px;
}
#jobs-services {
	position:relative;
	float:left;
	width:100%;
	background-color:#2F1B56;
	height:630px;
	z-index:9999;
}
#jobs-services h1 {
	text-align:center;
	font-size:15px;
	line-height:18px;
	margin-top:110px;
	text-transform:lowercase;
}
#jobs-services h1:first-letter {
	text-transform:uppercase;
} 
#jobs-services p {
	text-align:center;
	color:#FFFFFF;
}
#jobs-services .container {
	padding:42px 0 0 0;
}
#jobs-services .jobs-item {
	width:100%;
	min-height:255px;
	float:left;
	margin:0 0 15% 0;
}
#jobs-services .jobs-icon {
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	height:93px;
	transition:height 0.1s ease-out 0s;
}
#jobs-services .jobs-icon:hover {
	height:103px;
}
#package {
	background-image:url(../img/background-package.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:324px;
	width:100%;
	position:relative;
	float:left;
}
#package .container {
	padding:70px 0 0 0;
}
#package h4 {
	text-align:center;
	color:#FFFF00;
}
#package p {
	color:#FFFFFF;
}
#package p.align-right {
	text-align:right;
}
#package .btn {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, 100%);  
	-moz-transform:translate(-50%, 100%);
	-ms-transform:translate(-50%, 100%); 
	-o-transform:translate(-50%, 100%);
	transform:translate(-50%, 100%);
}
#package-suggestion {
	background-color:#FFFFFF;
	width:100%;
	height:648px;	
	position:relative;
	float:left;
}
#package-suggestion .container {
	padding:52px 0 0 0;
}
.box-package {
	border:solid 5px #00FFF8;
	padding:0;
	max-width:220px;
	max-height:220px;
}
.box-package img {
	max-width:100%;
}
.box-package h4 {
	position:absolute;
	padding:20% 5% 5% 5%;
}
#package-suggestion .jobs-item {
	width:100%;
	min-height:255px;
	float:left;
	margin:0 0 15% 0;
}
#package-suggestion .jobs-icon {
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	height:93px;
	transition:height 0.1s ease-out 0s;
}
#package-suggestion .jobs-icon:hover {
	height:103px;
}
#package-suggestion h1 {
	text-align:center;
	font-size:15px;
	line-height:18px;
	margin-top:110px;
	text-transform:lowercase;
	color:#2F1B56;
}
#package-suggestion h1:first-letter {
	text-transform:uppercase;
} 
#package-suggestion p {
	text-align:center;
	color:#2F1B56;
}
@media screen and (max-width:939px) and (min-width:768px) {
#spotlight-services .container {
	padding:81px 3% 0 3%;
}
#jobs-services .container {
	padding:42px 3% 0 3%;
}
#jobs-services .jobs-item {
	min-height:300px;
}
#package-suggestion {
	height:700px;	
}
#package-suggestion .container {
	padding:52px 3% 0 3%;
}
#package-suggestion .jobs-item {
	min-height:300px;
}
}
@media screen and (max-width:767px) and (min-width:480px) {	
#spotlight-services {
	height:550px;
}
#spotlight-services .container {
	padding:30px 3% 0 3%;
}
#spotlight-services h5 {
	text-align:center;
	padding:5% 0 0 0;
}
#camera {
	background-image:url(../img/parallax-03-mobile.png);
	background-position:75% 100%;
	background-repeat:no-repeat;
	margin:170px 0 0 0;
	height:119px;
}
#jobs-services {
	height:2300px;
}
#jobs-services .jobs-item {
	width:50%;
	margin:0 0 3% 50%;
	padding:0 0 0 0;
	-webkit-transform:translate(-50%,0);  
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0); 
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
#package .container {
	padding:30px 3% 0 3%;
}
#package p {
	color:#FFFFFF;
	text-align:center;
}
#package p.align-right {
	text-align:center;
}
.box-package {
	width:50%;
	margin:0 0 10% 50%;
	-webkit-transform:translate(-50%,0);  
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0); 
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
#package-suggestion .jobs-item {
	width:50%;
	height:auto;
	margin:0 0 3% 50%;
	padding:0 0 0 0;
	-webkit-transform:translate(-50%,0);  
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0); 
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
footer {
	margin:1350px 0 0 0;
	height:210px;
}
}
@media screen and (max-width:479px) and (min-width:320px) {
#spotlight-services {
	height:550px;
}
#spotlight-services .container {
	padding:30px 3% 0 3%;
}
#spotlight-services h5 {
	text-align:center;
	padding:15% 0 0 0;
}
#camera {
	background-image:url(../img/parallax-03-mobile.png);
	background-position:90% 100%;
	background-repeat:no-repeat;
	margin:145px 0 0 0;
	height:119px;
}
#jobs-services {
	height:2500px;
}
#jobs-services .jobs-item {
	width:50%;
	margin:0 0 3% 50%;
	padding:0 0 0 0;
	-webkit-transform:translate(-50%,0);  
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0); 
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
#package {
	height:350px;
}
#package .container {
	padding:30px 3% 0 3%;
}
#package p {
	color:#FFFFFF;
	text-align:center;
}
#package p.align-right {
	text-align:center;
}
.box-package {
	width:50%;
	margin:0 0 10% 50%;
	-webkit-transform:translate(-50%,0);  
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0); 
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
#package-suggestion .jobs-item {
	width:50%;
	height:auto;
	margin:0 0 3% 50%;
	padding:0 0 0 0;
	-webkit-transform:translate(-50%,0);  
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0); 
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
footer {
	margin:1350px 0 0 0;
	height:210px;
}
}