@charset "UTF-8";
/* CSS Document */
#spotlight-about {
	width:100%;
	position:relative;
	float:left;
	height:440px;
	background:#2f1b56;
	background:-moz-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:-webkit-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f1b56', endColorstr='#3d3aaf', GradientType=1);
}
#spotlight-about .container {
	padding:70px 0 0 0;
}
#spotlight-about h2 {
	margin:4% 0 11% 0;
}
#moon {
	background-image:url(../img/parallax-04.png);
	background-repeat:no-repeat;
	background-position:80% 10%;
	width:100%;
	height:100%;
	position:absolute;
	z-index:8888;
	animation-name:moon;
	animation-duration:5.5s;
	animation-iteration-count:infinite;
}
@keyframes moon {
50% {
-webkit-transform:translate(12px,15px) rotate(10deg);  
-moz-transform:translate(12px,15px) rotate(10deg); 
-ms-transform:translate(12px,15px) rotate(10deg); 
-o-transform:translate(12px,15px) rotate(10deg); 
transform:translate(120px, 15px) rotate(10deg);
}
}
#about-pixel {
	position:relative;
	float:left;
	width:100%;
	height:380px;
	background-color:#FFF;
}
#about-pixel .container {
	padding:50px 0 0 0;
}
#box-about-pixel {
	border:solid 5px #00FFF8;
	max-width:220px;
	max-height:220px;
	margin:0 0 10% 0;
}
.box-about-pixel img {
	max-width:100%;
}
#how-work {
	position:relative;
	float:left;
	width:100%;
	height:381px;
	background-color:#2F1B56;
}
#how-work .container {
	padding:41px 0 0 0;
}
#how-work p {
	position:relative;
	float:left;
	color:#FFF;
	margin:5% 0 5% 0;
}
#how-work h4 {
	color:#FFF;
	margin:45% 0 15% 0;
}
#how-work h3 {
	position:relative;
	float:left;
	margin:10% 0 0 5%;
}
.circle {
	position:relative;
	background-color:#00FFF8;
	width:45px;
	height:45px;
	padding:2%;
	border-radius:100%;
	float:left;
}
.circle h3 {
	font-size:30px;
	color:#2F1B56;
	padding:15% 0 0 15%;
	position:absolute;
}
@media screen and (max-width:939px) and (min-width:768px) {
#spotlight-about .container {
	padding:70px 3% 0 3%;
}
#about-pixel .container {
	padding:50px 3% 0 3%;
}
#about-pixel {
	height:450px;
}
#how-work .container {
	padding:41px 3% 0 3%;
}
}
@media screen and (max-width:767px) and (min-width:480px) {
#spotlight-about .container {
	padding:70px 3% 0 3%;
}
#spotlight-about h3 {
	margin:3% 0 0 15%
}
#spotlight-about h2 {
	margin:3% 0 10% 0;
}
#moon {
	background-image:url(../img/parallax-04-mobile.png);
}
#about-pixel .container {
	padding:50px 3% 0 3%;
}
#about-pixel {
	height:750px;
}
#about-pixel h5 {
	text-align:center;
	margin:15% 0 0 0;
}

#box-about-pixel {
	max-width:175px;
	margin:0 auto;
}
#box-about-pixel img {
	max-width:100%;
}
#about-pixel .btn {
	margin-top:10%;
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
}
#about-pixel .btn:active {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
	top:100%;
	margin-top:78px;
}
#how-work .container {
	padding:20px 3% 0 3%;
}
#how-work {
	height:900px;
}
#how-work h4 {
	margin:0 0 5% 0;
}
#how-work p {
	margin:5% 0 5% 0;
}
#how-work h3 {;
	margin:5% 0 0 3%;
}
footer {
	margin:0 0 0 0 !important;
}
}
@media screen and (max-width:479px) and (min-width:320px) {
#spotlight-about .container {
	padding:30px 3% 0 3%;
}
#spotlight-about h3 {
	margin:3% 0 0 15%
}
#spotlight-about h2 {
	margin:3% 0 10% 0;
}
#moon {
	background-image:url(../img/parallax-04-mobile.png);
}
#about-pixel .container {
	padding:50px 3% 0 3%;
}
#about-pixel {
	height:750px;
}
#about-pixel h5 {
	text-align:center;
	margin:15% 0 0 0;
}

#box-about-pixel {
	max-width:175px;
	margin:0 auto;
}
#box-about-pixel img {
	max-width:100%;
}
#about-pixel .btn {
	margin-top:10%;
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
}
#about-pixel .btn:active {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
	top:100%;
	margin-top:78px;
}
#how-work .container {
	padding:20px 3% 0 3%;
}
#how-work {
	height:900px;
}
#how-work h4 {
	margin:0 0 5% 0;
}
#how-work p {
	margin:5% 0 5% 0;
}
#how-work h3 {;
	margin:5% 0 0 3%;
}
footer {
	margin:0 0 0 0 !important;
}
}