@charset "UTF-8";
/* CSS Document */

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
@font-face {
	font-family:Amarillo;
	src:url('../fonts/Amarillo.eot');
	src:url('../fonts/Amarillo.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Lato Bold Italic;
	src:url('../fonts/Lato-Bold-Italic.eot');
	src:url('../fonts/Lato-Bold-Italic.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Lato Bold;
	src:url('../fonts/Lato-Bold.eot');
	src:url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Lato Regular;
	src:url('../fonts/Lato-Regular.eot');
	src:url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Ubuntu Bold;
	src:url('../fonts/Ubuntu-Bold.eot');
	src:url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Ubuntu Regular;
	src:url('../fonts/Ubuntu-Regular.eot');
	src:url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
h1 {
	font-family:Ubuntu Bold;
	font-size:45px;
	color:#FFF;
	text-align:left;
	line-height:47px;
	text-transform:uppercase;
}
h2 {
	font-family:Ubuntu Regular;
	font-size:18px;
	color:#FFF;
	text-align:left;
	line-height:21px;
}
h3 {
	font-family:Amarillo;
	font-size:15px;
	color:#00FFF8;
	text-align:left;
	position:absolute;
	margin:5% 0 0 30%
}
h4 {
	font-family:Ubuntu Bold;
	font-size:35px;
	color:#00FFF8;
	text-align:left;
	line-height:38px;
	text-transform:uppercase;
}
h5 {
	font-family:Ubuntu Bold;
	font-size:35px;
	color:#2E1A55;
	text-align:left;
	line-height:38px;
	text-transform:uppercase;
}
h6 {
	font-family:Lato Bold Italic;
	font-size:15px;
	color:#FFFFFF;
	text-align:left;
	line-height:18px;
	text-transform:uppercase;
}
p {
	font-family:Lato Regular;
	font-size:13px;
	line-height:16px;
	text-align:left;
	color:#2E1A55;
	margin:3% 0 0 0;
}
.btn {
	background-color:#FF0080;
	padding:10px 25px;
	font-family:Lato Bold;
	font-size:12px;
	text-align:center;
	text-transform:uppercase;
	position:relative;
	color:#FFF;
	text-decoration:none;
	box-shadow:inset 0px 1px 0px #C30062, 0px 5px 0px #C30062;
	z-index:9999;
}
.btn:active {
	top:5px;
	box-shadow:inset 0px 1px 0px #C30062, inset 0px -1px 0px #C30062;
	color:#FFF;
	background-color:#FF0080;
}
.arrow-up {
	background-image:url(../img/arrow-up.jpg);
	background-repeat:no-repeat;
	background-position:100% 5px;
	height:24px;
	width:100%;
	z-index:9999;
	position:relative;
	float:right;
}
.scroll-downs {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:0 auto;
	width:45px;
	height:36px;
}
.scroll-downs span {
	font-family:Lato Bold;
	font-size:12px;
	text-align:center;
	text-transform:uppercase;
	color:#FFF;
}
.mouse {
	width:5px;
	padding:5px 8px;
	height:30px;
	border:2px solid #FFF;
	border-radius:25px;
	opacity:1;
	margin:45% auto;
}
.scroller {
	width:5px;
	height:10px;
	border-radius:25%;
	background-color:#FFF;
	animation-name:scroll;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
}
@keyframes scroll {
0% {
opacity:0;
}
10% {
-webkit-transform:translate(0,0);  
-moz-transform:translate(0,0);  
-ms-transform:translate(0,0);  
-o-transform:translate(0,0);  
transform:translate(0,0);
opacity:1;
}
100% {
-webkit-transform:translate(0,10px);  
-moz-transform:translate(0,10px);  
-ms-transform:translate(0,10px);  
-o-transform:translate(0,10px);  
transform:translate(0,10px);
opacity:1;
}
}
.column {
	position:relative;
	float:left;
}
.column + .column {
	margin-left:2.5%;
}
.column-1 {
	width:10.3125%;
}
.column-2 {
	width:23.125%;
}
.column-3 {
	width:35.9375%;
}
.column-4 {
	width:48.75%;
}
.column-5 {
	width:61.5625%;
}
.column-6 {
	width:74.375%;
}
.column-7 {
	width:87.1875%;
}
.column-8 {
	width:100%;
}
body {
	overflow-x:hidden;
}
.container {
	max-width:1040px;
	min-width:940px;
	margin:0 auto;
}
.row:after {
	clear:both;
}
header {
	width:100%;
	min-height:106px;
	background:#2f1b56;
	background:-moz-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:-webkit-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f1b56', endColorstr='#3d3aaf', GradientType=1);
}
header #logo {
	background-image:url(../img/lgo.png);
	width:162px;
	height:78px;
	float:left;
	margin:1% 1% 0 0;
}
header .social {
	float:right;
	height:20px;
	width:10%;
	margin:4% 0 0 60%;
}
header .social img {
	display:inline-block;
	margin:0 3% 0 3%;
}
#spotlight {
	width:100%;
	min-height:440px;
	position:relative;
	float:left;
	background:#2f1b56;
	background:-moz-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:-webkit-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f1b56', endColorstr='#3d3aaf', GradientType=1);
}
#spotlight .container {
	padding:70px 0 0 0;
}
#spotlight h2 {
	margin:5% 0 15% 0;
}
#astronaut {
	background-image:url(../img/parallax-01.png);
	background-repeat:no-repeat;
	background-position:80% 10%;
	width:100%;
	height:100%;
	position:absolute;
	z-index:8888;
	animation-name:astronaut;
	animation-duration:5.5s;
	animation-iteration-count:infinite;
}
@keyframes astronaut {
50% {
-webkit-transform:translate(12px,15px) rotate(10deg);  
-moz-transform:translate(12px,15px) rotate(10deg); 
-ms-transform:translate(12px,15px) rotate(10deg); 
-o-transform:translate(12px,15px) rotate(10deg); 
transform:translate(120px, 15px) rotate(10deg);
}
}
#helmet {
	background-image:url(../img/parallax-02.png);
	background-repeat:no-repeat;
	background-position:25% 57%;
	position:absolute;
	z-index:8888;
	width:100%;
	height:100%;
}
#services {
	width:100%;
	height:380px;
	position:relative;
	float:left;
	background-color:#FFF;
}
#services .container {
	padding:80px 0 0 0;
}
#box-services {
	border:solid 5px #00FFF8;
	padding:5%;
	max-width:220px;
	max-height:220px;
}
#jobs {
	width:100%;
	height:327px;
	position:relative;
	float:left;
	background-color:#2F1B56;
}
#jobs .container {
	padding:50px 0 0 0;
}
#jobs h4 {
	color:#FFF;
	margin:25% 0 15% 0;
}
#jobs h1 {
	font-size:15px;
	line-height:18px;
	text-transform:lowercase;
}
#jobs h1:first-letter {
	text-transform:uppercase;
}
.jobs-item {
	width:100%;
	min-height:52px;
	float:left;
	margin:0 0 15% 0;
}
.jobs-icon {
	display:block;
	float:left;
	margin:0 5% 0 0;
	height:49px;
	transition:height 0.1s ease-out 0s;
	cursor:pointer;
}
.jobs-icon:hover {
	height:55px;
}
#about {
	background-image:url(../img/background-about.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height:324px;
	width:100%;
	position:relative;
	float:left;
}
#about .container {
	padding:68px 0 0 0;
}
#about h4 {
	text-align:center;
	color:#FFFF00;
	margin:0 0 3% 0;
}
#about h1 {
	font-size:15px;
	line-height:18px;
	text-transform:none;
	margin:0 0 3% 0;
}
#about h1.align-right {
	text-align:right;
}
#about h1:first-letter {
	text-transform:uppercase;
}
#work {
	background-color:#FFF;
	width:100%;
	height:381px;
	position:relative;
	float:left;
}
#work .container {
	padding:68px 0 0 0;
}
#work h4 {
	color:#2D1954;
	margin:25% 0 15% 0;
}
.work-item {
	border:solid 5px #00FFF8;
	max-width:340px;
	max-height:232px;
}
.work-item a {
	display:block;
	position:relative;
	background:#00FFF8;
}
.work-item a span {
	display:block;
	background-color:#00FFF8;
	position:absolute;
	width:340px;
	height:0;
	overflow:hidden;
	opacity:0.8;
	filter:alpha(opacity=80);
	-webkit-transition:all 0.1s ease-out;
	-moz-transition:all 0.1s ease-out;
	-o-transition:all 0.1s ease-out;
	-ms-transition:all 0.1s ease-out;
	transition:all 0.1s ease-out;
}
.work-item a:hover span {
	height:100%;
	opacity:0.8;
}
.work-item span h1 {
	font-size:15px;
	line-height:18px;
	text-transform:uppercase;
	text-align:center;
	color:#2D1954;
	margin:25% 0 3% 0;
}
.work-item span p {
	color:#2D1954;
	text-align:center;
}
.work-item img {
	max-width:100%;
}
footer {
	background-color:#000000;
	position:relative;
	float:left;
    bottom:0px;
    width:100%;
}
footer .container {
	padding:30px 0 0 0;
}
footer h6 {
	margin:0 0 1% 0;
}
.footer-icon {
	display:block;
	float:left;
	margin:0 3% 0 0;
	height:24px;
}
footer p {
	font-size:12px;
	line-height:15px;
	color:#FFFFFF;
	margin:1% 0 0 0;
}
footer .social {
	float:right;
	height:24px;
	width:40%;
	margin:0 0 0 0;
}
footer .social img {
	display:inline-block;
	margin:0 3% 0 3%;
}
footer #inner {
	width:100%;
	margin:3% 0 0 0;
	background-color:#333333;
	height:40px;
	float:left;
}
footer #inner .container {
	padding:0 0 0 0;
}
footer #inner p {
	margin:2% 0 0 0;
}
.menu-trigger {
	display:none;
}
.content-menu {
	position:relative;
}
nav {
	position:absolute;
	float:left;
	width:100%;
	margin:4% 0 0 0;
	text-align:center;
	display:block;
}
nav li {
	display:inline-block;
	margin:0 1% 0 1%;
}
nav li a {
	text-decoration:none;
	text-transform:uppercase;
	color:#FFF;
	font-family:Lato Bold Italic;
	font-size:15px;
	display:block;
}
li.active a, li a:hover {
	border-bottom:solid 2px #FFFF00;
	-moz-transition:0.1s all ease-out;
	-webkit-transition:0.1s all ease-out;
	-o-transition:0.1s all ease-out;
	transition:0.1s all ease-out;
}
@media screen and (max-width:939px) and (min-width:768px) {
.container {
	max-width:939px;
	min-width:768px;
	/* border:solid 1px #FF0000;  VERMELHO */
}
header .container {
	padding:0 3% 0 3%;
}
#spotlight .container {
	padding:70px 3% 0 3%;
}
header .social {
	width:20%;
	margin:4% 0 0 0;
}
.scroll-downs {
	margin:-3% auto;
}
#services .container {
	padding:80px 5% 0 3%;
}
#jobs .container {
	padding:50px 3% 0 3%;
}
#work .container {
	padding:68px 3% 0 3%;
}
.work-item a span {
	max-width:100%;
}
h4 {
	font-size:30px;
	line-height:33px;
}
#jobs h1 {
	font-size:12px;
	line-height:15px;
}
footer .container {
	padding:30px 3% 0 3%;
}
footer p {
	font-size:10px;
	line-height:13px;
}
footer .social {
	float:right;
	height:24px;
	width:50%;
	margin:0 30% 0 0;
}
footer #inner .container {
	padding:0 3% 0 3%;
}
.arrow-up {
	background-position:80% 5px;
}
}
@media screen and (max-width:767px) and (min-width:480px) {
.container {
	max-width:767px;
	min-width:480px;
	/* border:solid 1px #00FF00;  VERDE */
}
.column {
	position:relative;
	float:left;
}
.column + .column {
	margin-left:0;
}
.column-1 {
	width:100%;
}
.column-2 {
	width:100%;
}
.column-3 {
	width:100%;
}
.column-4 {
	width:100%;
}
.column-5 {
	width:100%;
}
.column-6 {
	width:100%;
}
.column-7 {
	width:100%;
}
.column-8 {
	width:100%;
}
header .container {
	padding:0 3% 0 3%;
}
header #logo {
	background-image:url(../img/lgo-mobile.png);
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	margin:1%;
}
.menu-trigger {
	display:block;
	position:absolute;
	float:left;
	top:0;
	padding:3% 0 0 0;
}
nav {
	position:absolute;
	margin:0;
	padding:0;
	background:#2f1b56;
	background:-moz-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:-webkit-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f1b56', endColorstr='#3d3aaf', GradientType=1);
	z-index:9999;
}
nav ul li {
	display:none;
	list-style:none;
	margin:3% 0 3% 0;
}
li.active a, li a:hover {
	border:none;
}
header .social {
	display:none;
}
#spotlight .container {
	padding:30px 3% 0 3%;
}
#spotlight h3 {
	margin:3% 0 0 15%
}
#spotlight h2 {
	margin:3% 0 10% 0;
}
#astronaut {
	background-image:url(../img/parallax-01-mobile.png);
}
#services {
	height:500px;
}
#services .container {
	padding:30px 3% 0 3%;
}
#services h5 {
	padding:5% 0 0 0;
	text-align:center;
}
#helmet {
	background-image:url(../img/parallax-02-mobile.png);
	background-position:65% 55%
}
#box-services {
	max-width:150px;
	margin:0 auto;
}
h4 {
	font-size:28px;
	line-height:31px;
}
p {
	font-size:15px;
	line-height:18px;
	padding:0 3% 0 0;
}
#jobs {
	height:870px;
}
#jobs .container {
	padding:30px 3% 0 3%;
}
#jobs h4 {
	width:100%;
	text-align:center;
	margin:0 0 10% 0;
}
#jobs h1 {
	font-size:15px;
	line-height:18px;
	text-align:left;
}
#jobs .btn {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);  
	-moz-transform:translate(-50%, -100%);
	-ms-transform:translate(-50%, -100%); 
	-o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
}
#jobs .btn:active {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);  
	-moz-transform:translate(-50%, -100%);
	-ms-transform:translate(-50%, -100%); 
	-o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
	top:100%;
	margin-top:5px;
}
.jobs-item {
	width:50%;
	clear:right;
	margin:5% 0 0 50%;
	padding:0 0 0 0;
	-webkit-transform:translate(-50%,0);  
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0); 
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
#about {
	height:430px;
}
#about .container {
	padding:30px 3% 0 3%;
}
#about h4 {
	text-align:center;
	margin:0 0 5% 0;
}
#about h1 {
	text-align:center;
}
#about h1.align-right {
	text-align:center;
}
#work {
	height:381px;
}
#work .container {
	padding:30px 3% 0 3%;
}
#work h4 {
	color:#2D1954;
	margin:0 0 10% 0;
	text-align:center;
}
#work .btn {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);  
	-moz-transform:translate(-50%, -100%);
	-ms-transform:translate(-50%, -100%); 
	-o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
}
#work .btn:active {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);  
	-moz-transform:translate(-50%, -100%);
	-ms-transform:translate(-50%, -100%); 
	-o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
	top:100%;
	margin-top:5px;
}
.work-item {
	border:solid 5px #00FFF8;
	max-width:340px;
	max-height:232px;
	margin:5% auto;
}
footer {
	background-color:#000000;
	position:relative;
	float:left;
    bottom:0px;
    width:100%;
	margin:60% 0 0 0;
}
footer .container {
	padding:30px 3% 0 3%;
}
.footer-icon {
	margin:0 3% 1% 0;
}
footer p {
	font-size:12px;
	line-height:15px;
	color:#FFFFFF;
	margin:1% 0 0 0;
}
footer .social {
	float:left;
	margin:1% 0 0 0;
}
footer #inner .container {
	padding:0 3% 0 3%;
}
.arrow-up {
	display:none;
}
}
@media screen and (max-width:479px) and (min-width:320px) {
.container {
	max-width:479px;
	min-width:320px;
	/*border:solid 1px #0000FF;  AZUL */
}
.column {
	position:relative;
	float:left;
}
.column + .column {
	margin-left:0;
}
.column-1 {
	width:100%;
}
.column-2 {
	width:100%;
}
.column-3 {
	width:100%;
}
.column-4 {
	width:100%;
}
.column-5 {
	width:100%;
}
.column-6 {
	width:100%;
}
.column-7 {
	width:100%;
}
.column-8 {
	width:100%;
}
header .container {
	padding:0 3% 0 3%;
}
header #logo {
	background-image:url(../img/lgo-mobile.png);
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	margin:1%;
}
.menu-trigger {
	display:block;
	position:absolute;
	float:left;
	top:0;
	padding:3% 0 0 0;
}
nav {
	position:absolute;
	margin:0;
	padding:0;
	background:#2f1b56;
	background:-moz-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:-webkit-linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
	background:linear-gradient(left, #2f1b56 0%, #3d3aaf 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f1b56', endColorstr='#3d3aaf', GradientType=1);
	z-index:9999;
}
nav ul li {
	display:none;
	list-style:none;
	margin:3% 0 3% 0;
}
li.active a, li a:hover {
	border:none;
}
header .social {
	display:none;
}
#spotlight .container {
	padding:30px 3% 0 3%;
}
#astronaut {
	background-image:url(../img/parallax-01-mobile.png);
	z-index:8000;
}
#services {
	height:500px;
}
#services .container {
	padding:30px 3% 0 3%;
}
#services h5 {
	padding:10% 0 0 0;
	text-align:center;
}
#helmet {
	background-image:url(../img/parallax-02-mobile.png);
	background-position:65% 55%
}
#box-services {
	max-width:150px;
	margin:0 auto;
}
h4 {
	font-size:28px;
	line-height:31px;
}
p {
	font-size:15px;
	line-height:18px;
	padding:0 3% 0 0;
}
#jobs {
	height:800px;
}
#jobs .container {
	padding:30px 3% 0 3%;
}
#jobs .btn {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
}
#jobs .btn:active {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
	top:100%;
	margin-top:5px;
}
#jobs h4 {
	width:100%;
	text-align:center;
	margin:5% 0 15% 0;
}
#jobs h1 {
	font-size:15px;
	line-height:18px;
	text-align:left;
}
.jobs-item {
	width:50%;
	clear:right;
	margin:5% 0 0 50%;
	padding:0 0 0 0;
	-webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
#about {
	height:400px;
}
#about .container {
	padding:30px 3% 0 3%;
}
#about h4 {
	text-align:center;
	margin:0 0 5% 0;
}
#about h1 {
	text-align:center;
}
#about h1.align-right {
	text-align:center;
}
#work {
	height:381px;
}
#work .container {
	padding:30px 3% 0 3%;
}
#work h4 {
	color:#2D1954;
	margin:0 0 15% 0;
	text-align:center;
}
#work .btn {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
}
#work .btn:active {
	left:50%;
	position:absolute;
	-webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
	transform:translate(-50%, -100%);
	top:100%;
	margin-top:5px;
}
.work-item {
	border:solid 5px #00FFF8;
	max-width:340px;
	max-height:232px;
	margin:5% auto;
}
footer {
	margin:350px 0 0 0;
	height:190px;
}
footer .container {
	padding:3% 3% 0 3%;
}
.footer-icon {
	margin:1% 3% 0 0;
}
footer p {
	margin:2% 0 0 0;
}
footer .social {
	float:left;
	margin:5% 0 0 0;
}
footer #inner .container {
	padding:0 3% 0 3%;
}
footer #inner p {
	margin:2% 0 0 0;
}
.arrow-up {
	display:none;
}
.scroll-downs {
	margin:15% auto;
}
}
