@charset "utf-8";
/* CSS Document */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
h1 {
	font-family: 'Roboto', sans-serif;
	font-size:2.5em;
	color:#0E4172;
	line-height:1em;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size:2em;
	color:#0E4172;
	line-height:1em;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size:1.5em;
	color:#0E4172;
	line-height:1em;
}
p {
	font-family: 'Lato', sans-serif;
	font-size:1.5em;
	color:#9F9F9F;
	text-align:center;
	line-height:1.5em;
}
/* Content */
.container {
	width:1250px;
}
/* Navbar */
.navbar-nav a {
	font-family: 'Roboto', sans-serif!important;
	color:#0E4172!important;
}
.nav-item {
	border-color:#0E4172!important;
}
/* Forms */
.form-control[type="search"] {
	background:url(../img/search-icon.jpg) no-repeat left;
	background-position:5% 25%;
	border-color:#0E4172!important;
	transition:width 0.2s;
	width:55%!important;
}
.form-control[type="search"]::placeholder {
 	font-family: 'Roboto', sans-serif!important;
 	color:#0E4172!important;
 	text-transform:uppercase!important;
}
.form-control[type="search"]:focus {
	width:100%!important;
}
@media (max-width:991px) {
.form-control[type="search"] {
	width:100%!important;
	margin-top:1em;	
	background-position:1% 25%;
}
.navbar-nav .nav-link {
	padding:1% 0 1% 1%;	
}
}

/* Carousel */
.img-carousel {
	object-fit:cover;
	object-position:0 70%;
	height:400px;
}
.carousel-indicators [data-bs-target] {
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:#4E6A7B;
}
.carousel-indicators .active {
	background-color:#6AB3E3;
}
/* Sections */
.breadcrumb-item a {
	font-family: 'Roboto', sans-serif!important;
	color:#0E4172!important;
	text-decoration:none!important;
}
.breadcrumb-item.active {
	font-family: 'Roboto', sans-serif!important;
	color:#0E4172!important;
	text-decoration:none!important;
}
.banner-inner {
	height:300px;
}
.banner-inner img {
	width:100%;
	object-fit:cover;
	object-position:0 80%;
	height:300px;
}
.separator {
	background-color:#6AB3E3;
	height:5px;
	width:40%;
	display:block;
	border:none;
	margin:50px 0;
	padding:0;
}
.circle {
	border-radius:50%;
	width:300px;
	height:300px;
	overflow:hidden;
	position:relative;
}
.circle img {
	position:absolute;
	object-fit:cover;
	height:300px;
	bottom:0;
	width:100%;
}
#parallax {
	background-image:url(../img/parallax-background.jpg);
	min-height:520px;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
/* Filters buttons colors */
.btn {
	border:none!important;
}
.filter01 {
	background-color:#6BCBB8!important;
}
.filter02 {
	background-color:#DB4152!important;
}
.filter03 {
	background-color:#F47A44!important;
}
.filter04 {
	background-color:#69479D!important;
}
.filter05 {
	background-color:#009877!important;
}
.filter06 {
	background-color:#345D9D!important;
}
.filter07 {
	background-color:#FFB548!important;
}
.items li {
	border-radius:50%;
	width:125px;
	height:125px;
	display:inline-block
}
#gradient {
	height:100vh;
	background-image:linear-gradient(#00FFCA, #04EFCE, #10C5DB, #2483EF, #344EFF)
}
#map {
	width:100%;
	height:400px;
}
/* Tabs */

.tab {
	background-color:#6AB3E3;
	min-height:1200px;
	background-image:url(../img/lgo-brand-PUCRS-content-tabs.jpg);
	background-repeat:no-repeat;
	background-position:45% 10%;
}
.content-tab {
	background-color:#007D95;
	min-height:1200px;
}
.content-tab h3 {
	color:#FFFFFF;
	text-transform:none;
}
.content-tab h3:first-letter {
	text-transform:capitalize;
}
.content-tab button {
	background-color:#0BD6D6;
	text-transform:uppercase;
}
.content-tab p {
	color:#FFFFFF;
	font-size:1em;
}
.carousel-tab {
	height:200px!important;
}
.carousel-tab .img-carousel {
	object-fit:cover;
	height:285px;
}

/* Even rows */
.table-striped tbody tr:nth-child(even) {
 background-color:#FFFFFF;
}
/* Odd rows */
.table-striped tbody tr:nth-child(odd) {
 background-color:#F0F0F0;
}
.table-srtiped th, td {
	color:#007D95;
	font-family:'Lato', sans-serif!important;
}
.table-light thead td {
	text-transform:uppercase;
	font-weight:500;
	color:#007D95!important;
	background-color:#F0F0F0;
	font-family:'Lato', sans-serif!important;
}
.table-light td {
	color:#060606;
	font-family:'Lato', sans-serif!important;
}
.table-light .text-light {
	color:#AAAAAA!important;
}
.simple-list {
	list-style:none;
	padding:0;
	color:#FFFFFF;
	font-family:'Lato', sans-serif!important;
}
.simple-list li {
	padding:0 0 5% 0;
}
.side-nav {
	height:auto;
	width:100%;
	text-transform:uppercase;
	padding-top:50%;
}
.side-nav a, .dropdown-btn {
	color:#FFFFFF;
	display:block;
	border-bottom:solid 1px #FFFFFF;
	border-top:solid 1px #FFFFFF;
	border-left:none;
	border-right:none;
	background:none;
	width:100%;
	text-decoration:none;
	cursor:pointer;
	outline:none;
	text-transform:uppercase;
}
.dropdown-btn {
	background-image:url(../img/down-arrow.jpg);
	background-repeat:no-repeat;
	background-position:90% 50%;
}
.dropdown-container {
	display:none;
	background-color:#5397C4;
}
.dropdown-container a {
	color:#BFD9E9;
	border:none;
	padding:3% 0 3% 0;
	text-transform:none;
}
.dropdown-container a::first-letter {
 text-transform: capitalize;
}
/* Footer */
footer {
	background-color:#6AB3E3;
	min-height:260px;
}
.footer-top {
	background-color:#0E4172;
	min-height:100px;
}
.button-footer button, .button-footer-left button {
	background-color:#FFFFFF;
	color:#0E4172;
	text-transform:uppercase;
}
.nav-link {
	color:#0E4172;
	font-weight:800;
	font-family:'Roboto', sans-serif;	
}
footer p {
	color:#0E4172;
	font-family:'Roboto', sans-serif;
	font-size:1em;
}
