@charset "UTF-8";
/* CSS Document */

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
/* FONTES */

@font-face {
	font-family:Amarillo;
	src:url('../fonts/Amarillo.eot');
	src:url('../fonts/Amarillo.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Lato Bold Italic;
	src:url('../fonts/Lato-Bold-Italic.eot');
	src:url('../fonts/Lato-Bold-Italic.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Lato Bold;
	src:url('../fonts/Lato-Bold.eot');
	src:url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Lato Regular;
	src:url('../fonts/Lato-Regular.eot');
	src:url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Ubuntu Bold;
	src:url('../fonts/Ubuntu-Bold.eot');
	src:url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:Ubuntu Regular;
	src:url('../fonts/Ubuntu-Regular.eot');
	src:url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
h1 {
	font-family:Amarillo;
	font-size:40px;
	line-height:43px;
	color:#E82B4B;
	text-align:center;
	margin:5% 0 0 0;
}
h2 {
	font-family:Ubuntu Regular;
	font-size:22px;
	line-height:25px;
	color:#2E1A55;
	text-align:center;
	margin:5% 0 0 0;
}
p {
	font-family:Lato Regular;
	font-size:18px;
	line-height:21px;
	text-align:center;
	color:#2E1A55;
	margin:3% 0 0 0;
}
/* COLUNAS */

.column {
	position:relative;
	float:left;
}
.column + .column {
	margin-left:2.5%;
}
.column-1 {
	width:10.3125%;
}
.column-2 {
	width:23.125%;
}
.column-3 {
	width:35.9375%;
}
.column-4 {
	width:48.75%;
}
.column-5 {
	width:61.5625%;
}
.column-6 {
	width:74.375%;
}
.column-7 {
	width:87.1875%;
}
.column-8 {
	width:100%;
}
body {
	overflow-x:hidden;
}
.container {
	max-width:1400px;
	min-width:940px;
	margin:0 auto;
}
.row:after {
	clear:both;
}
header {
	width:100%;
	display:block;
	position:relative;
	background-color:#EEEDE9;
	z-index:999;
}
.content-menu {
	position:relative;
}
nav {
	position:absolute;
	float:left;
	width:100%;
	background-color:#E82B4B;
	z-index:999;
}
nav ul li {
	display:none;
	list-style:none;
	margin:5% 0 3% 10%;
}
nav li {
	display:inline-block;
}
nav li a {
	text-decoration:none;
	display:block;
	color:#FFF;
	font-family:Lato Bold;
	font-size:15px;
}
.menu-trigger {
	display:block;
	position:absolute;
	float:left;
	top:0;
	margin:3% 0 0 3%;
}
#spotlight {
	width:100%;
	min-height:768px;
	background-color:#EEEDE9;
	padding:5% 0 0 0;
}
#spotlight .container {
	padding:0 3% 0 3%;
}
.circle {
	width:45px;
	height:45px;
	background-color:#E82B4B;
	border:solid 1px #E82B4B;
	border-radius:25px;
	opacity:1;
	margin:0 auto;
}
.burger-menu {
	padding:12% 0 0 25%;
	color:#FFF;
	font-size:25px;
}
.burger-menu, a {
	text-decoration:none;
	display:block;
	color:#FFF;
}
.arrow {
	padding:15% 0 0 25%;
	animation-name: arrow-animated;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
@keyframes arrow-animated {
0% {
opacity:0;
}
10% {
-webkit-transform:translate(0, 0);
-moz-transform:translate(0, 0);
-ms-transform:translate(0, 0);
-o-transform:translate(0, 0);
transform:translate(0, 0);
opacity:1;
}
100% {
-webkit-transform:translate(0, 10px);
-moz-transform:translate(0, 10px);
-ms-transform:translate(0, 10px);
-o-transform:translate(0, 10px);
transform:translate(0, 10px);
opacity:1;
}
}
#weeding {
	width:100%;
	min-height:450px;
	background-color:#E82B4B;
}
#weeding .container {
	padding:0 3% 0 3%;
}
#weeding h1 {
	color:#FFFFFF;
	font-size:25px;
	line-height:28px;
}
#weeding p {
	color:#FFFFFF;
}
#rings {
    width:83px;
    height:66px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:20px;
    margin-left:-50px;
}
.dots {
	font-family:Amarillo;
	font-size:40px;
	line-height:43px;
	color:#E82B4B;
	text-align:center;
}
#weeding .dots {
	color:#FFFFFF;
}
#dinner {
	width:100%;
	background-color:#4391A8;
	min-height:561px;
}
#dinner .container {
	padding:0 3% 0 3%;
}
#dinner h1 {
	color:#FFFFFF;
	font-size:25px;
	line-height:28px;
}
#dinner p {
	color:#FFFFFF;
}
#dinner .dots {
	color:#FFFFFF;
}
#map {
	width:100%;
	height:350px;
	position:relative;
}
#map p {
	color:#2E1A55;
}
#plate {
    width:83px;
    height:83px;
    position:relative;
    top:50%;
    left:50%;
    margin-top:20px;
    margin-left:-50px;
}
#icon-whatss {
	width:29px;
    height:28px;
    position:absolute;
    top:12%;
    left:34%;;
    margin-top:20px;
    margin-left:-50px;
}
#nubentes {
	width:100%;
	min-height:768px;
	background-color:#EEEDE9;
}
#nubentes h1 {
	font-size:25px;
	line-height:28px;
}
#polaroid {
	width:811px;
    height:312px;
    position:relative;
    top:50%;
    left:50%;
    margin-top:50px;
    margin-left:-400px;
	background-image:url(../img/photos-polaroid.png);
	background-repeat:no-repeat;
}
#nubentes p {
	color:#2E1A55;
}
#icon-nubentes {
	width:192px;
    height:79px;
    position:absolute;
    top:50%;
    left:46%;
    margin-top:20px;
    margin-left:-50px;
}
#presents {
	width:100%;
	min-height:600px;
	background-color:#E82B4B;
}
#presents h1 {
	color:#FFFFFF;
	font-size:25px;
	line-height:28px;
}
#presents p {
	color:#FFFFFF;
}

/* BREAK POINTS */
@media screen and (max-width:939px) and (min-width:768px) {
.container {
	max-width:939px;
	min-width:768px;
}
#spotlight {
	min-height:700px;
}
#weeding {
	min-height:380px;
}
#icon-whatss {
    top:9%;
    left:30%;
    margin-top:15px;
    margin-left:-50px;
}
#dinner {
	min-height:500px;
}
}
@media screen and (max-width:767px) and (min-width:480px) {
.container {
	max-width:767px;
	min-width:480px;
}
nav ul li {
	margin:5% 0 3% 5%;
	text-align:center;
}
.menu-trigger {
	display:block;
	position:absolute;
	float:left;
	top:0;
	margin:3% 0 0 3%;
}
.noiva, .noivo {
	width:220px;
    height:255px;
}
#spotlight {
	min-height:630px;
}
#weeding {
	min-height:380px;
}
#icon-whatss {
    top:9%;
    left:30%;
    margin-top:10px;
    margin-left:-110px;
}
#dinner {
	min-height:450px;
}
p {
	font-size:15px;
	line-height:18px;
}
#polaroid {
	width:284px;
    height:343px;
    position:relative;
    top:50%;
    left:50%;
    margin-top:50px;
    margin-left:-140px;
	background-image:url(../img/photos-polaroid480px.png);
	background-repeat:no-repeat;
}
}
@media screen and (max-width:479px) and (min-width:320px) {
.container {
	max-width:479px;
	min-width:320px;
}
nav ul li {
	margin:5% 0 3% 5%;
	text-align:center;
}
.menu-trigger {
	display:block;
	position:absolute;
	float:left;
	top:0;
	margin:3% 0 0 3%;
}
.noiva, .noivo {
	width:112px;
    height:133px;
}
p {
	font-size:15px;
	line-height:18px;
}
#spotlight h1 {
	line-height:125px;
}
#spotlight {
	min-height:630px;
}
#weeding {
	min-height:380px;
}
#weeding h1 {
	line-height:75px;
}
#icon-whatss {
    display:none;
}
#dinner {
	min-height:480px;
}
#dinner h1 {
	line-height:75px;
}
#nubentes h1 {
	line-height:75px;
}
#polaroid {
	width:284px;
    height:343px;
    position:relative;
    top:50%;
    left:50%;
    margin-top:50px;
    margin-left:-140px;
	background-image:url(../img/photos-polaroid480px.png);
	background-repeat:no-repeat;
}
#nubentes {
	min-height:850px;
}
#icon-nubentes {
    left:40%;
}
#presents h1 {
	line-height:75px;
}
}