@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    overflow-x: hidden;
}


/* Text spotlight */

.text-spotlight {
    color: #29ABE2;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
}


/* Titles */

h1 {
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 45px;
}

h2 {
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 100;
}

h2 strong {
    font-weight: bold;
    font-size: 3rem;
}

h3 {
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
}


/* Paragraph */

p {
    font-family: inherit;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
}

strong {
    font-family: inherit;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
}


/* Navbar */

.navbar-default {
    background-color: #FFFFFF;
    border-color: #E1E1E1;
    padding: 15px 0 15px 0;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1000;
}

.navbar-default .btn-default {
    margin-top: 3.5px;
    margin-left: 15px;
}

.navbar-default .navbar-brand {
    width: 200px;
    cursor: pointer;
}

.navbar-default .navbar-brand img {
    width: 100%;
    margin-top: -15px;
}

.navbar-default .navbar-nav li {
    margin-right: 15px;
}

.navbar-default .navbar-nav li a {
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    font-weight: bold;
}

.navbar-default .navbar-nav li a:hover {
    color: #7673D4;
    transition: all 0.3s ease-out;
}

.navbar-default .navbar-collapse {
    border: none;
}


/* Buttons */

.btn-default {
    background-color: #7673D4;
    border-radius: 25px;
    padding: 8px 25px 8px 25px;
    font-size: inherit;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: solid 2px #7673D4;
    font-weight: bold;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #FFFFFF;
    border: solid 2px #7673D4;
    transition: all 0.3s ease-out;
    /*box-sizing: border-box;*/
}

.btn-default a {
    color: #FFFFFF;
    text-decoration: none;
}

.btn-default:hover a {
    color: #7673D4;
    transition: all 0.3s ease-out;
}

.btn-gray {
    background-color: #B8B8B8;
    border-radius: 25px;
    padding: 8px 32px 8px 32px;
    font-size: inherit;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    border: solid 2px #B8B8B8;
    font-weight: bold;
}

.btn-gray:hover,
.btn-gray:focus {
    background-color: #FFFFFF;
    border: solid 2px #B8B8B8;
    transition: all 0.3s ease-out;
    /*box-sizing: border-box;*/
}

.btn-gray a {
    color: #FFFFFF;
    text-decoration: none;
}

.btn-gray:hover a {
    color: #B8B8B8;
    transition: all 0.3s ease-out;
}


/* Sections */

#background-image {
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-foto-header_1.jpg");
    background-repeat: no-repeat;
    position: fixed;
    margin-top: 80px;
    width: 100%;
    z-index: 0;
    min-height: 600px;
    height: auto;
    position: relative;
}

#top {
    margin-top: 80px;
}

#about {
    background-color: #FFFFFF;
    padding: 185px 0 45px 0;
}

#about p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
    text-align: center;
}

#about h1 {
    font-weight: 600;
}

#about .btn-default {
    margin-top: 45px;
    padding: 8px 45px 8px 45px;
}

.element-left img,
.element-right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about .element-left img,
#about .element-right img {
    margin-top: 90px;
}

#about .element-left img {
    width: 60%;
}

#about .element-right img {
    width: 100%;
}

#why {
    background-color: #FFFFFF;
    padding: 45px 0 45px 0;
}

#how {
    background-color: #F5F5F5;
    padding: 85px 0 145px 0;
}

#how h2 {
    text-align: center;
    font-weight: 600;
}

#how p {
    font-style: italic;
    font-size: inherit;
    font-weight: 100;
    text-align: center;
    color: #212529;
}

#how a {
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #212529;
}

#how a:hover {
    color: #7673D4!important;
    font-family: inherit;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

#skills {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#skills h2,
#skills p {
    text-align: left;
}

#skills h2 {
    margin-bottom: 45px;
    font-weight: 600;
}

#skills p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
}

#skills .element-right img {
    width: 90%;
    margin-top: 65px;
}

#skills .btn-default {
    margin: 25px 0 45px 0;
}

#cases {
    background-color: #F5F5F5;
    padding: 85px 0 45px 0;
}

#cases a {
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 600;
    color: #212529;
}

#cases a:hover {
    color: #7673D4!important;
    font-family: inherit;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-out;
}

#cases h2 {
    text-align: center;
    font-weight: 600;
}

#cases p {
    font-style: italic;
    font-size: inherit;
    font-weight: 100;
    text-align: center;
    color: #212529;
}

.video-cases {
    margin-top: 125px;
}

.video-cases-hide {
    display: none;
    margin-bottom: 1300px;
}

#cases .btn-default {
    margin-top: 45px;
    margin-bottom: 85px;
}

#cases .btn-default a {
    color: #FFFFFF!important;
    text-decoration: none!important;
    font-size: 1.5rem!important;
}

#cases .btn-default:hover a {
    color: #7673D4!important;
    transition: all 0.3s ease-out!important;
}

#cases .video-click {
    margin-top: 45px;
}

#simulation {
    background: linear-gradient(90deg, rgba(44, 39, 128), rgba(118, 115, 212), rgba(41, 171, 226));
    padding: 45px 0 45px 0;
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
}

#header-pages {
    background: linear-gradient(90deg, rgba(44, 39, 128), rgba(118, 115, 212), rgba(41, 171, 226));
    padding: 45px 0 45px 0;
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
}

#header-pages .row {
    display: flex;
    justify-content: center;
}

#header-pages-content {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    padding: 5rem 0 5rem 0;
}

#header-pages-content h1 {
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-left: 15px;
    text-align: left;
}

#header-pages .icon img {
    width: 55px;
}

#glossary {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#glossary h2 {
    text-align: center;
    font-weight: 600;
}

#glossary p {
    font-style: italic;
    font-size: inherit;
    font-weight: 100;
    text-align: center;
    color: #212529;
    margin: 45px 0 45px 0;
}

#faq {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#faq h2 {
    text-align: center;
    font-weight: 600;
}

#faq p {
    font-style: italic;
    font-size: inherit;
    font-weight: 100;
    text-align: center;
    color: #212529;
    margin: 45px 0 45px 0;
}

#timeline {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#timeline h2 {
    text-align: center;
    font-weight: 600;
}

#timeline p {
    font-style: italic;
    font-size: inherit;
    font-weight: 100;
    text-align: center;
    color: #212529;
    margin: 45px 0 45px 0;
}

#timeline .element-animate img {
    width: 70%;
}

#know {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

.spotlight {
    padding: 85px 0 45px 0;
}

.spotlight-thumb img {
    width: 30%;
}

.box-gradient {
    background: linear-gradient(90deg, rgba(44, 39, 128), rgba(118, 115, 212), rgba(41, 171, 226));
    padding: 45px 0 45px 0;
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
}

.spotlight .box-gradient {
    margin-top: -125px;
    padding: 45px 0 125px 0;
}

.spotlight .box-gradient h1 {
    color: #FFFFFF;
    margin-top: 145px;
}

.spotlight .box-gradient p {
    color: #FFFFFF;
    text-align: center;
}

#model {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#model h3 {
    margin-bottom: 85px;
}

#model ul li {
    color: #212529;
    font-family: inherit;
    font-size: inherit;
    font-weight: 100;
    font-size: 2rem;
    line-height: 4rem;
    list-style-position: inside;
    list-style-image: url(http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-topicos.svg);
}

#what-move-you,
#what-move-us {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#what-move-us h3 {
    text-align: left;
    text-transform: uppercase;
    display: flex;
}

.group-list {
    margin-top: 45px;
}

.group-list h3::before {
    content: "";
    width: 15px;
    height: 15px;
    margin: 0.8rem 1.5rem 0 0;
    background-color: #7673D4;
    border-radius: 50%;
}

.group-list ul li {
    color: #212529;
    font-family: inherit;
    font-size: inherit;
    font-weight: 100;
    font-size: 2rem;
    line-height: 4rem;
    list-style-position: inside;
    list-style-image: url(http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-topicos.svg);
}

#what-move-you p:first-of-type,
#what-move-us p:first-of-type {
    margin-top: 45px;
}

#what-move-you .text-spotlight,
#what-move-us .text-spotlight {
    font-size: 2rem;
}

#what-move-you ul {
    margin: 25px 0 10px 0;
}

#what-move-you ul li {
    color: #212529;
    font-family: inherit;
    font-size: inherit;
    font-weight: 100;
    font-size: 2rem;
    line-height: 4rem;
    list-style-position: inside;
    list-style-image: url(http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-topicos.svg);
}

#what-move-you .box-more,
#what-move-us .box-more {
    margin-top: 85px;
}

.box-more {
    background-color: #F5F5F5;
    border-right: solid 15px #E6E7E8;
    display: flex;
    align-items: center;
}

.box-more .content {
    margin-left: 45px;
}

.box-more h2 {
    font-weight: 600;
}

.box-more .thumb {
    width: 25%;
}

.box-more .btn-default {
    padding: 8px 85px 8px 85px;
}

#simulation-content {
    display: flex;
    align-items: center;
}

#simulation h2 {
    font-weight: 600;
}

#simulation h2,
#simulation p {
    color: #FFFFFF;
}

#simulation p {
    font-style: italic;
    font-weight: 100;
}

#simulation img.icon {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#simulation .btn-default {
    background-color: #FFFFFF;
    border: solid 2px #FFFFFF;
    padding: 8px 65px 8px 65px;
}

#simulation .btn-default:hover,
#simulation .btn-default:focus {
    background-color: transparent;
    border: solid 2px #FFFFFF;
}

#simulation .btn-default a {
    color: #7673D4;
}

#simulation .btn-default:hover a {
    color: #FFFFFF;
    transition: all 0.3s ease-out;
}

#resources {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#resources h2 {
    font-weight: 600;
}

#resources h2,
#resources p {
    text-align: center;
}

#resources p {
    font-weight: 100;
}

#resources .set-items {
    margin-top: 145px;
}

#resources .item {
    background-color: #F5F5F5;
    border-radius: 50px;
    padding: 25px;
    margin-bottom: 15px;
}

#resources .item:hover {
    background-color: #E6E7E8;
    transition: all 0.3s ease-out;
}

#resources .item:hover a {
    color: #7673D4;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

#resources .item .item-content {
    display: flex;
    align-items: center;
}

#resources .item a {
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: #212529;
}

#resources .item .item-content img.icon {
    margin-right: 25px;
    width: 15%;
}

#essential-skills {
    background-color: #FFFFFF;
    padding: 85px 0 45px 0;
}

#essential-skills .row:nth-child(2),
#essential-skills .row:nth-child(3) {
    margin-top: 45px;
}

#essential-skills .card a {
    display: block;
    position: relative;
    background-color: #F5F5F5;
    width: 100%;
    min-height: 500px;
    padding: 45px;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#essential-skills .card a span {
    display: block;
    position: absolute;
    padding: 45px;
    width: 100%;
    min-height: 500px;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
}

#essential-skills .card a:hover span {
    height: 100%;
    background-color: #F5F5F5;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#essential-skills .card a:hover span p {
    font-family: inherit;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
}

#essential-skills .card a h2 {
    font-weight: 600;
    margin-top: 45px;
    text-align: center;
}

#essential-skills .card a .icon {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header::before {
    content: "";
    position: absolute;
    height: 600px;
    top: 3rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 5rem;
}

.bg-header::before {
    background-image: url("../images/2022-05-18-fluir-foto-topo-trilha.png");
    z-index: -1;
}

.header .row {
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    margin-top: 22rem;
    padding: 5rem 0 5rem 0;
}

.header-content h1 {
    color: #FFFFFF;
    margin-bottom: 25px;
    margin-left: 15px;
    text-align: left;
}

.header .icon img {
    width: 55px;
}

.header .row:nth-child(2) {
    margin-top: 18rem;
}

.icon-arrow-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px #00000030;
    margin-bottom: 5rem;
}

.icon-arrow-down img {
    transform: rotate(90deg);
}

.trail-content {
    background-color: #A2D7ED;
    padding: 2rem 0 0 5rem;
    margin: 5rem 0 5rem 0;
}


/*.trail-content .row:nth-child(2) {
    display: flex;
    justify-content: center;
}*/

.tooltip-inner {
    font-size: 1rem;
    padding: 1rem;
}

.trail-content h2 {
    margin-bottom: 45px;
}

.trail-content .content {
    background-color: #F5F5F5;
    min-height: 670px;
}


/*.trail-content .content .row:nth-child(1) {
    display: flex;
    align-items: center;
}*/

.trail-content .caption {
    font-size: 1.5rem;
    font-family: inherit;
    color: #212529;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(-90deg);
    width: fit-content;
    position: absolute;
    left: -9rem;
    bottom: 9rem;
}

.trail-content .description {
    padding: 1rem;
}

.trail-content .text-spotlight {
    color: #7673D4;
    text-decoration: none;
    font-size: inherit;
    font-weight: bold;
}

.trail-content .group-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trail-content .group-buttons .btn-default,
.trail-content .group-buttons .btn-gray {
    margin: 1rem 0 1rem 0;
}

.trail-content .overlay-content .caption {
    bottom: 3rem;
    right: -8rem;
}

.overlay-content {
    display: none;
}


/*.trail-content .overlay-content .row:nth-child(1) {
    display: unset;
}*/

.trail-content .overlay-content .thumb img {
    width: 70%;
}

.trail-content .overlay-content .group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Botões voltar e selecionar a trilha */

.trail-content .overlay-content .back {
    background-color: #7673D4;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: solid 2px #7673D4;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-prev-branca.svg");
    background-size: 30px;
    background-position: 15px 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    font-weight: bold;
    color: #FFFFFF;
}

.trail-content .overlay-content .back:hover {
    background-color: #FFFFFF;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-prev-roxa.svg");
    transition: all 0.3s ease-out;
    color: #7673D4;
}

.trail-content .overlay-content .select-trail {
    background-color: #7673D4;
    width: 250px;
    height: 40px;
    border-radius: 50px;
    border: solid 2px #7673D4;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-next-branca.svg");
    background-size: 30px;
    background-position: 205px 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    font-weight: bold;
    color: #FFFFFF;
}

.trail-content .overlay-content .select-trail:hover {
    background-color: #FFFFFF;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-next-roxa.svg");
    transition: all 0.3s ease-out;
    color: #7673D4;
}

.overlay-carousel-trail {
    display: none;
}

.trail-content .overlay-carousel-trail .content {
    padding: 3rem;
}


/*.trail-content .overlay-carousel-trail .row {
    display: unset;
    align-items: unset;
}*/

.trail-content .overlay-carousel-trail .icon-question-mark {
    background-color: #7673D4;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 1.3rem 1rem 1.3rem;
    position: absolute;
    margin: 0 0 0 1rem;
    transform: rotate(-15deg);
}

.trail-content .overlay-carousel-trail .icon-question-mark:hover {
    background-color: #9E9E9E;
    transition: all 0.3s ease-out;
}

.trail-content .overlay-carousel-trail .icon-question-mark::after {
    content: "?";
}

.card-trail {
    background-color: transparent;
    padding: 3rem;
    border-radius: 5px;
    min-height: 350px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    cursor: pointer;
}

.administrative-leadership {
    background-color: #E1BDC3;
}

.administrative-leadership:hover {
    background-color: #D66B80;
    transition: all 0.3s ease-out;
}

.administrative-menager {
    background-color: #B4D3DC;
}

.administrative-menager:hover {
    background-color: #4FAFCB;
}

.academic-leadership {
    background-color: #EBD7B2;
}

.academic-leadership:hover {
    background-color: #F7B944;
    transition: all 0.3s ease-out;
}

.academic {
    background-color: #B8C3D7;
}

.academic:hover {
    background-color: #6080BA;
    transition: all 0.3s ease-out;
}

.card-trail .thumb {
    margin-top: 15px;
}

.card-trail .thumb img {
    width: 80%;
}

.btn-card-trail {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    min-width: 250px;
    cursor: pointer;
    position: absolute;
    border: none;
    bottom: 55px;
}

.btn-card-trail a {
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: #212529;
    font-weight: bold;
}

.administrative-leadership .btn-card-trail:hover {
    background-color: #E1BDC3;
    transition: all 0.3s ease-out;
}

.administrative-menager .btn-card-trail:hover {
    background-color: #B4D3DC;
    transition: all 0.3s ease-out;
}

.academic-leadership .btn-card-trail:hover {
    background-color: #EBD7B2;
    transition: all 0.3s ease-out;
}

.academic .btn-card-trail:hover {
    background-color: #B8C3D7;
    transition: all 0.3s ease-out;
}


/* Carousel Trail */

.overlay-carousel-trail .control-arrows {
    display: flex;
    justify-content: flex-end;
}

.overlay-carousel-trail .prev-card-arrow {
    width: 52px;
    height: 32px;
    background-size: 30px;
    background-image: url("../images/2022-03-10-fluir-seta-prev-roxa.svg");
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay-carousel-trail .prev-card-arrow:hover,
.overlay-carousel-trail .prev-card-arrow:focus {
    background-image: url("../images/2022-05-19-fluir-seta-prev-cinza.svg");
    transition: all 0.3s ease-out;
}

.overlay-carousel-trail .next-card-arrow {
    width: 52px;
    height: 32px;
    background-size: 30px;
    background-image: url("../images/2022-03-10-fluir-seta-next-roxa.svg");
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay-carousel-trail .next-card-arrow:hover,
.overlay-carousel-trail .next-card-arrow:focus {
    background-image: url("../images/2022-05-19-fluir-seta-next-cinza.svg");
    transition: all 0.3s ease-out;
}

.carousel-trail .slick-initialized .slick-slide {
    display: block;
}


/*.trail-content::before {
    content: "trilha de carreiras";
    font-size: 1.5rem;
    font-family: inherit;
    color: #212529;
    font-weight: 600;
    text-transform: uppercase;
}*/


/* Keyframes */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        transition: ease-in 3ms;
    }
    50% {
        background-position: 100% 50%;
        transition: ease-in 3ms;
    }
    100% {
        background-position: 0% 50%;
        transition: ease-in 3ms;
    }
}

@keyframes arrow {
    0% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 1rem);
        -moz-transform: translate(0, 1rem);
        -ms-transform: translate(0, 1rem);
        -o-transform: translate(0, 1rem);
        transform: translate(0, 1rem);
    }
    100% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.arrow {
    animation-name: arrow;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}


/* Accordion FAQ */

#faq .panel-group .panel {
    border-radius: 5px;
}

#faq .panel {
    box-shadow: 0px 1px 3px #00000029;
    background-color: #F5F5F5;
}

#faq .panel-group .panel {
    margin: 5px 0 15px 0;
}

#faq .panel-group .panel:nth-child(1) {
    margin: 85px 0 15px 0;
}

#faq .panel-heading {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faq .panel-default {
    border: none;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding: 0 45px 45px 45px;
}

#faq .panel-heading a {
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    width: fit-content;
}

#faq .panel-heading a:hover,
#faq .panel-heading a:focus {
    text-decoration: none;
}

#faq .panel-body p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
    text-align: left;
    margin-top: 0px;
    font-style: normal;
}

#faq .plus {
    background-image: url(http://www.pucrs.br/wp-content/uploads/2022/04/2022-04-11-fluir-accordion-plus.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s ease-out;
    transform: rotate(360deg);
}

#faq .minus {
    background-image: url(http://www.pucrs.br/wp-content/uploads/2022/04/2022-04-11-fluir-accordion-minus.svg);
    width: 23px;
    height: 3px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s ease-out;
}


/*  Tabs Glossary */

#glossary .nav-tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

#glossary .nav-tabs li a {
    color: #7673D4;
    font-size: 2.5rem;
    text-transform: uppercase;
}

#glossary .nav-tabs li.active a,
#glossary .nav-tabs li.active a:focus,
#glossary .nav-tabs li.active a:hover {
    color: #7673D4;
    cursor: default;
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-bottom-color: #7673D4;
}

#glossary .nav-tabs li a:hover {
    background-color: #FFFFFF;
    border: 2px solid transparent;
    border-bottom-color: #7673D4;
    transition: all 0.3s ease-out;
}

#glossary .tab-pane {
    margin-top: 45px;
}

#glossary .tab-pane p {
    text-align: left;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 100;
    font-style: normal;
}

#glossary .tab-pane p strong {
    text-align: left;
    font-size: 2rem;
    line-height: 3rem;
    font-style: normal;
}


/* Footer */

footer {
    background: linear-gradient(90deg, rgba(44, 39, 128, 1) 0%, rgba(118, 115, 212, 1) 50%, rgba(41, 171, 226, 1) 100%);
    padding: 45px 0 45px 0;
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-content img.icon {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer img.image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-content h2,
.footer-content p {
    color: #FFFFFF;
}

.footer-content p {
    font-style: italic;
    text-align: right;
}

.footer-content p span {
    font-size: 1.3rem;
}

.footer-content p span a {
    color: #FFFFFF;
    font-size: 1.3rem;
}

.footer-content p span a:hover {
    text-decoration: underline;
}

footer hr.border {
    margin-top: 45px;
    border: solid 1px #FFFFFF;
}

footer #logos {
    margin-top: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

footer #logos img {
    width: 20%;
}

#footer-info p {
    color: #FFFFFF;
}

#footer-info a {
    color: #FFFFFF;
    float: right;
}


/* Carousel Top */

.carousel-top .items img {
    width: 100%;
}


/* Carousel Whay */

.carousel-why {
    margin-top: 45px;
}

.carousel-why .card {
    background-color: #F5F5F5;
    width: 900px;
    height: 500px;
}

.carousel-why .card h2 {
    font-weight: 600;
}


/*.carousel-why .card a {
    color: #7673D4;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    text-decoration: none;
}

.carousel-why .card a:hover {
    text-decoration: underline;
}


.carousel-why .card .card-inner .content a {
    color: #7673D4;
}

*/

.carousel-why .card .card-inner {
    display: flex;
}

.carousel-why .card .card-inner .content {
    padding: 85px 45px 85px 45px;
}

.carousel-why .card .card-inner .content ul li {
    margin-top: 15px;
    list-style-position: inside;
    list-style-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-topicos.svg");
    /*list-style-type: none;
    position: relative;
    list-style-position: inside;
    margin-left: 25px;*/
}


/*.carousel-why .card .card-inner .content ul li::before {
    content: "";
    position: absolute;
    background-image: url(../images/seta-topicos.svg);
    width: 15px;
    height: 14px;
    top: 5px;
    left: -25px;
}*/

.carousel-why .card .card-inner .content ul li {
    color: #212529;
    font-family: inherit;
    font-size: inherit;
    font-weight: 100;
    line-height: 2.8rem;
}


/* Carousel How */

.carousel-tutorial {
    margin-top: 45px;
}

.carousel-tutorial .card {
    background-color: #F5F5F5;
    width: 530px;
    height: 325px;
    margin-right: 15px;
}

.carousel-tutorial .card p {
    font-style: normal!important;
    font-size: 1.8rem!important;
    font-weight: 600!important;
    text-align: left!important;
    color: #212529!important;
}


/* Thumbnail videos */

.video-click {
    cursor: pointer;
    position: relative;
}

.video-click .thumbnail-overlay:hover {
    background: rgb(44, 39, 128, 0.3);
    /*background: linear-gradient(90deg, rgba(44, 39, 128, 0.5) 0%, rgba(118, 115, 212, 0.5) 50%, rgba(41, 171, 226, 0.5) 100%);*/
    transition: all 0.3s ease-out;
    /*opacity: 0.5;*/
}

.thumbnail {
    display: block;
    border-radius: 0;
    padding: 0;
    border: none;
}

.video-click .thumbnail-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
}

.thumbnail-overlay .play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.thumbnail-overlay img {
    width: 20%;
}


/* Custom Arrows */

#why .control-arrows {
    position: absolute;
    width: 100%;
    margin-top: 280px;
    height: auto;
    display: flex;
    justify-content: space-between;
    z-index: 900;
}

#why .arrow-prev {
    background-color: #7673D4;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: solid 2px #7673D4;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-prev-branca.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#why .arrow-prev:hover {
    background-color: #FFFFFF;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-prev-roxa.svg");
    transition: all 0.3s ease-out;
}

#why .arrow-next {
    background-color: #7673D4;
    width: 100px;
    height: 40px;
    margin-right: 25px;
    border-radius: 50px;
    border: solid 2px #7673D4;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-next-branca.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#why .arrow-next:hover {
    background-color: #FFFFFF;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-next-roxa.svg");
    transition: all 0.3s ease-out;
}

#how .control-arrows {
    position: absolute;
    width: 100%;
    margin-top: 380px;
    height: auto;
    display: flex;
    justify-content: space-between;
    z-index: 900;
}

#how .prev {
    background-color: #7673D4;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: solid 2px #7673D4;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-prev-branca.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#how .prev:hover {
    background-color: #FFFFFF;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-prev-roxa.svg");
    transition: all 0.3s ease-out;
}

#how .next {
    background-color: #7673D4;
    width: 100px;
    height: 40px;
    margin-right: 25px;
    border-radius: 50px;
    border: solid 2px #7673D4;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-next-branca.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#how .next:hover {
    background-color: #FFFFFF;
    background-image: url("http://www.pucrs.br/wp-content/uploads/2022/03/2022-03-10-fluir-seta-next-roxa.svg");
    transition: all 0.3s ease-out;
}


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-bottom: 45px;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-slide {
    display: none;
    float: left;
    min-height: 1px;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-slide.items {
    display: flex;
    justify-content: center;
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: solid 1px #7673D4;
    background-color: #FFFFFF;
}

.slick-dots li.slick-active {
    background-color: #7673D4;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li:hover,
.slick-dots li:focus {
    background-color: #7673D4;
    transition: all 0.3s ease-out;
}


/* Modal Videos */

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    top: 20%;
}

.modal-header {
    padding: 15px;
    border-bottom: none;
}

.modal-content {
    position: relative;
    background-color: #7673D4;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 5px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}

.modal-body {
    padding: 0;
}

.modal-body .subtitle {
    padding: 15px;
}

.modal-body .subtitle p {
    font-size: inherit;
    line-height: inherit;
    font-weight: 100;
    color: #FFFFFF;
    font-style: italic;
}

.modal .btn-close {
    font-size: 1em;
    line-height: 1;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7673D4;
    z-index: 900;
    border: solid 1px #FFFFFF;
    margin-top: -20px;
    margin-left: -20px;
}


/* Media Query */

@media(max-width:1200px) {
    .trail-content .overlay-content .thumb img {
        width: 85%;
    }
}

@media (max-width: 991px) {
    #header-pages img.icon,
    .header img.icon {
        width: 12%;
    }
    #header-pages-content h1,
    .header-content h1 {
        text-align: center;
    }
    #about .element-left img {
        width: 20%;
        margin-bottom: 45px;
    }
    #about .element-right img {
        width: 40%;
    }
    .carousel-why .card .card-inner .content {
        padding: 45px;
    }
    #why {
        padding-bottom: 85px;
    }
    #why .control-arrows {
        position: absolute;
        bottom: -40px;
        display: flex;
        justify-content: center;
    }
    #why .arrow-prev {
        margin-right: 5px;
    }
    #why .arrow-next {
        margin-left: 5px;
    }
    #how .control-arrows {
        position: absolute;
        bottom: -80px;
        display: flex;
        justify-content: center;
        margin-left: -15px;
    }
    #how .prev {
        margin-right: 5px;
    }
    #how .next {
        margin-left: 5px;
        margin-right: 0px;
    }
    #how a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .carousel-tutorial .card {
        margin-right: 0px;
    }
    #skills h2,
    #skills p {
        text-align: center;
    }
    #skills .element-right img {
        width: 70%;
        margin-top: 65px;
    }
    #skills .btn-default {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #cases .video-click {
        margin-top: 45px;
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #cases .video-cases a,
    #cases .video-cases-hide a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #resources .item {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        margin-bottom: 15px;
    }
    #resources .item .item-content img.icon {
        margin-right: 15px;
        width: 10%;
    }
    #simulation-content {
        flex-direction: column;
    }
    #simulation img.icon {
        width: 15%;
    }
    #simulation h2,
    #simulation p {
        text-align: center;
    }
    #simulation .btn-default {
        margin-top: 45px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-content img.icon {
        width: 15%;
    }
    .footer-content h2,
    .footer-content p {
        text-align: center;
    }
    footer #logos {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
    }
    footer #logos img {
        width: 25%;
    }
    #footer-info p {
        text-align: center;
    }
    #footer-info a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        float: none;
    }
    .spotlight-thumb img {
        width: 40%;
    }
    #model ul {
        margin-bottom: 85px;
    }
    #essential-skills .card a {
        margin-bottom: 45px;
    }
    #essential-skills .row:nth-child(3) {
        margin-top: 0px;
    }
    .trail-content .content .element-left img {
        height: 670px;
    }
    .trail-content .overlay-content .group-buttons {
        margin-top: 65px;
    }
    .trail-content .overlay-content .thumb img {
        width: 100%;
    }
    .trail-content .overlay-content .content {
        padding: 3rem;
    }
    .trail-content .overlay-content .caption {
        bottom: 3rem;
        left: -12rem;
    }
}

@media (max-width: 768px) {
    .navbar-default .btn-default {
        margin-left: 0px;
    }
    h1 {
        font-size: 3rem;
    }
    #header-pages-content,
    .header-content {
        display: block;
        padding-top: 5rem;
    }
    #header-pages .icon img,
    .header .icon img {
        width: 60px;
    }
    #background-image {
        min-height: 300px;
    }
    #about {
        padding-top: 85px;
    }
    #about .element-left img {
        width: 15%;
    }
    #about .element-right img {
        width: 26%;
    }
    #why .control-arrows {
        position: absolute;
        bottom: -40px;
    }
    .carousel-why .card {
        background-color: #F5F5F5;
        width: 100%;
        height: 420px;
    }
    .carousel-why .card .card-inner .content {
        padding: 45px;
    }
    .carousel-why .card .card-inner .content ul {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .carousel-why .card .card-inner .content ul li {
        margin-top: 5px;
    }
    .carousel-why .card .card-inner .thumb {
        display: none;
    }
    #resources .item {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        margin-bottom: 15px;
    }
    #resources .item .item-content img.icon {
        margin-right: 15px;
        width: 10%;
    }
    #how {
        background-color: #F5F5F5;
        padding: 85px 0 145px 0;
        min-height: 800px;
    }
    #how .control-arrows {
        position: absolute;
        bottom: -80px;
        margin-left: -15px;
    }
    #skills h2,
    #skills p {
        text-align: center;
    }
    #skills .btn-default {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header .row:nth-child(2) {
        margin-top: 14rem;
    }
    .trail-content .content .row {
        display: block;
        align-items: unset;
    }
    .trail-content .caption {
        bottom: -39rem;
    }
    .trail-content .description {
        padding: 3rem;
    }
    .trail-content .content .element-left img {
        height: auto;
    }
    .trail-content .overlay-content .group-buttons {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .trail-content .overlay-content .back,
    .trail-content .overlay-content .select-trail {
        margin: 1rem 0 1rem 0;
    }
    .trail-content .overlay-content .caption {
        bottom: 6rem;
        left: -12rem;
    }
}

@media (max-width: 490px) {
    .box-more {
        flex-direction: column;
    }
    .box-more .thumb {
        width: 100%;
    }
    .box-more .content {
        margin-left: 0px;
    }
    .box-more h2 {
        text-align: center;
    }
    .box-more .btn-default {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 440px) and (min-width: 319px) {
    .carousel-why .card {
        height: 550px;
    }
    #how .video-click {
        margin-top: 30px;
    }
    #glossary .nav-tabs {
        display: block;
    }
}

@media (max-width: 320px) {
    .navbar-default .btn-default {
        margin-left: 0px;
    }
    h1 {
        font-size: 3rem;
    }
    #why .control-arrows {
        margin-top: 690px;
        display: flex;
        justify-content: center;
    }
    .carousel-why .card {
        width: 100%;
        height: 620px;
    }
    .carousel-why .card .card-inner .content {
        padding: 25px 45px 85px 45px;
    }
    #how {
        padding: 85px 0 85px 0;
    }
    #how .control-arrows {
        margin-top: 350px;
        margin-left: -15px;
    }
    #skills h2,
    #skills p {
        text-align: center;
    }
    #skills .btn-default {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #cases .video-click {
        width: 100%;
    }
    .video-cases-hide {
        display: none;
        margin-bottom: 2950px;
    }
    #glossary .nav-tabs {
        display: block;
    }
}