* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Rubik", sans-serif;
}

html, body {
    overflow-x: hidden
}

body.modal-open, .modal.fade.show {
   
    padding-right: 0 !important;
}

/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Fontes */

/* Titles */

h1 {
    font-family: inherit;
    font-size: 3rem;
    line-height: 3.5rem;
    font-style: italic;
    font-weight: 400;
    margin: 1rem auto;
}

h2 {
    font-family: inherit;
    font-size: 2rem;
    line-height: 2.5rem;
    font-style: normal;
    font-weight: 400;
    margin: 1rem auto;
}

h3 {
    font-family: inherit;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    margin: 1rem auto;
}


/* Titles */

/* Paragraph */

p {
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem auto;
}

p strong {
    font-family: inherit;
    font-size: inherit;
    margin: 1rem auto;
    font-weight: 800;
}

/* Paragraph */

/* Button */

.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
    border: solid 1px transparent;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 50px;
    transition: all 0.3s ease;
    margin: 1rem auto;
    padding: 0.75rem 2.5rem;
}

.btn-default {
    background-color: #f96e46;
    border: solid 1px #e3170a;
    color: #fff4e4 !important;
}

.btn-default:hover {
    color: #f96e46 !important;
    background-color: #f7e8a4;
    border: solid 1px #f9c845;

}

.btn-more {
    background: url('../images/background-btn-more.png') no-repeat center center;
    width: 150px;
    height: 48px;
    outline: none !important;
}

.btn-more:hover {
    background: url('../images/background-btn-more.png') no-repeat left center;
    background-color: #f96e46;
}

.btn-more:hover::after {
    content: "Saiba mais";
    color: #fff4e4;
}


.btn-share-linkedin {
    background-color: #0a66c2;
    color:#fff4e4 !important;
    padding: 1rem 3rem;
    margin: 0 0.5rem 0 0.5rem;
}

.btn-share-linkedin::before {
    position: absolute;
    content: "";
    background-image: url('../images/linkedin-share-button.png');
    background-repeat: no-repeat;
    background-position: -0.1rem -0.1rem;
    background-size: 1.3rem;
    margin: 0.1rem -1.5rem;
    width: 20px;
    height: 20px;
    border: solid 1px #fff4e4;
    border-radius: 2px;
}

.btn-share-whatsapp {
    background-color: #25d366;
    color:#fff4e4 !important;
    padding: 1rem 3rem;
    margin: 0 0.5rem 0 0.5rem;
}

.btn-share-whatsapp::before {
    position: absolute;
    content: "";
    background-image: url('../images/whats-app-share-button.png');
    background-repeat: no-repeat;
    background-position: -0.1rem -0.2rem;
    background-size: 1.5rem;
    margin: 0.1rem -1.5rem;
    width: 20px;
    height: 20px;
}

/* Button */

/* Link */

a.link {
    font-family: inherit;
    color: #fff4e4;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    position: relative;
}

a.link::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    top: 1.5rem;
    background-color: #f9c845;
    transition: width 0.3s ease-in-out;
}

a.link:hover::after {
    width: 100%;
}

/* Link */

/* Nav */

.icon-menu {
    min-width: 45px;
    min-height: 45px;
    background-color: #f96e46;
    border: solid 1px #e3170a;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

.icon-menu>div {
    width: 50%;
    height: 2px;
    background-color: #fff4e4;
    margin: 2px 0 2px 0;
    transition: all 0.3s ease-in-out;
}

.icon-menu:hover>div:nth-child(3) {
    display: none;
}

.icon-menu:hover>div:nth-child(1) {
    transform: rotate(90deg) translate(3px, 0);
}

.icon-menu:hover>div:nth-child(2) {
    transform: translate(0, -3px);
}

#panelMenu {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #f96e46;
    z-index: 100;
    top: 0;
}

#panelMenu.active {
    visibility: visible;
}

.icon-menu-close {
    min-width: 45px;
    min-height: 45px;
    background-color: #fff4e4;
    border: solid 1px transparent;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

.icon-menu-close>div {
    width: 50%;
    height: 2px;
    background-color: #f96e46;
    margin: 2px 0 2px 0;
    transition: all 0.3s ease-in-out;
}


.icon-menu-close>div:nth-child(3) {
    display: none;
}

.icon-menu-close>div:nth-child(1) {
    transform: rotate(45deg) translate(1px, 2px);
}

.icon-menu-close>div:nth-child(2) {
    transform: rotate(-45deg) translate(2px, -3px);
}

.icon-menu-close:hover {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.brand img {
    width: 15rem;
}

#panelMenu.active .network {
    margin-right: 1rem;
}

.network {
    display: flex;
    justify-content: flex-end;
}

.network .item {
    display: flex;
    align-items: baseline;
    margin: 0 1rem;
}

.network .icon img {
    width: 1.5rem;
    margin: 0 0.5rem;
}

nav {
    margin: 5rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li.nav-item {
    margin: 3rem 0 3rem 0;
} 

nav ul li.nav-item a {
    font-family: inherit;
    font-size: 4rem;
    color: #f9c845 !important;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

nav ul li.nav-item a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    left: 0;
    top: 4.5rem;
    background-color: #fff4e4;
    transition: width 0.3s ease-in-out;
}

nav ul li.nav-item a:hover::after {
    width: 100%;
}

/* Nav */

/* Sections */

section {
    padding: 5rem 0 5rem 0;
}

/* Sections */

/* Footer */

footer {
    background-color: #2D1E2F;
    padding: 5rem 0 5rem 0;
}

footer h2 {
    color: #fff4e4;
}

footer .warning {
    background-color: #f96e46;
    border: solid 1px #e3170a;
}

footer .warning a, footer .warning a strong {
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1rem auto;
    color: #fff4e4;
}

footer .network {
    justify-content: center !important;
    margin: 5rem 0 0 0;
}

/* Footer */

/* Float Button */


.float-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
}

.float-button #whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #85B653;
    transition: transform .3s;
    transform: scale(1);
    border: solid 1px #FFFFFF;
}

.float-button #whatsapp:hover,
.float-button #whatsapp:focus {
    transform: scale(1.2);
}

/* Float Button */

/* Share Buttons */

.share {
    position: fixed;
    bottom: 7rem;
    right: 1rem;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
}

.share .share-icon {
    position: absolute;
    content: '';
    width: 200px;
    height: 48px;
    right: 1rem;
    background-image: url('../images/icon-share.png');
    background-repeat: no-repeat;
    background-position: 9rem 0;
    background-size: contain;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    padding: 0.7rem 2rem;
}

.share .share-icon:hover {
    background-image: url('../images/icon-share-white.png');
    background-color: #f96e46;
    border: solid 1px #e3170a;
    padding: 0.7rem 2rem;
    
}

.share .share-icon:hover::after {
    content: "Compartilhe";
    color: #fff4e4;
}

/* Share Buttons */

/* Modal */

.modal-header {
    border-bottom: none !important;
}

.modal .modal-body {
    padding: 0 0 2rem 0 !important;
}

.modal .modal-body p {
    color: #545863;
    font-size: inherit;
}

.modal .modal-body h2 {
    color: #f96e46;
    font-weight: 600;
}

/* Modal */


/* Keyframes */


@keyframes wiggle {
    0%,7% {
        transform:rotateZ(0);
    } 
    15% {
        transform:rotateZ(-15deg);
    }
    20% {
        transform:rotateZ(10deg);
    }
    25% {
        transform:rotateZ(-10deg);
    } 
    30% {
        transform:rotateZ(6deg);
    }
    35% {
        transform:rotateZ(-4deg);
    }
    40%,100% {
        transform:rotateZ(0)
    }
}

@keyframes move {
    50% {
    transform:translate(0,25px)
    }
    100% {
    transform:translate(0,0)
    }
}

/* Keyframes */

/* Media Queries */

@media (max-width: 991px) {
    .work .card-porfolio {
        max-width: 60%;
    }
    .slick-dots {
        display: block;
    }

}

@media (max-width: 768px) {
    .brand img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    header img.top-highline {
        width: 15rem;
    }
    header img {
        max-width: 15rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .who .profile {
        align-items: center;
    }

    .who .profile img {
        width: 20rem;
    }
    * {
        font-size: 0.8rem;
    }

    #accordion .panel .panel-heading .icon-plus, #accordion .panel .panel-heading .icon-minus {
        min-width: 25px;
        min-height: 25px;
    }
    .share .share-icon {
        background-position: 11rem 0;
       
    }

}

@media only screen and (max-width: 768px) {
    [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
    }
    
}


@media (max-width: 425px) {
    .brand img {
        width: 15rem;
    }
    .work .card-porfolio {
        max-width: 100%;
    }
}

