* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #F7F7F7;
    --color-purple: #FF0D8C;
    --color-green: #B6FF00;
}

body {
    overflow-x: hidden
}


/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Fontes */

/* Titles */

h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--color-purple);
}

h2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: var(--color-purple);
    word-break: break-all;
}

/* Titles */

/* Paragraph */

p {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    margin: 2rem auto;
    color: var(--color-black);
}

p strong {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    font-weight: 800;
}

/* Paragraph */

/* Button */

.btn {
    display: inline-block;
    position: relative;
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
    border: solid 1px transparent;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 50px;
    transition: all 0.3s ease;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
}

.btn-default {
    background-color: var(--color-purple);
    color: var(--color-white);
    border: solid 1px var(--color-purple);
}

.btn-default:hover {
    background-color: transparent;
    color: var(--color-purple);
    border: solid 1px var(--color-purple);
}

.btn-send {
    background-color: var(--color-purple);
    color: var(--color-white);
    border: solid 1px var(--color-purple);
}

.btn-send:hover {
    background-color: transparent;
    color: var(--color-purple);
    border: solid 1px var(--color-purple);
}

button[type="submit"] {
    /* display: flex;
    align-items: center; */
    margin: 2rem 0 1rem 0;
}

button[type="submit"]::before {
    content: 'Enviar';
}

button[type="submit"]:hover div:nth-child(1) {
    background-color: var(--color-purple);
    transition: all 0.3s ease;
    margin: -1rem 3.5rem;
    transform: rotate(40deg) translateX(1px);
}

button[type="submit"]:hover div:nth-child(2) {
    background-color: var(--color-purple);
    transition: all 0.3s ease;
    margin: -0.5rem 3.5rem;
    transform: rotate(-40deg) translateX(1px);
}

button[type="submit"] div:nth-child(1) {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: var(--color-white);
    transform: rotate(40deg) translateX(1px);
    margin: -1rem -1rem;
    transition: all 0.3s ease;
}

button[type="submit"] div:nth-child(2) {
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: var(--color-white);
    transform: rotate(-40deg) translateX(1px);
    margin: -0.5rem -1rem;
    transition: all 0.3s ease;
}

/* Button */

/* Header e menu */

header {
    background: transparent;
    min-height: 90px;
    width: 100%;
    position: absolute;
    margin: 2rem 0;
    z-index: 100;
}

.menu-toggle-aside {
    background-image: url('../img/back-aside-nav.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 90px;
    width: 21.5px;
}

.menu-toggle {
    height: 90px;
    width: 100%;
    background-color: var(--color-green);
    /* padding: 1rem auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menu {
    min-width: 48px;
    min-height: 48px;
    background-color: var(--color-purple);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.icon-menu div {
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
    margin: 3px auto;
    transition: all 0.3s ease;
}

.icon-menu:hover div:nth-child(1) {
    transform: rotate(90deg) translateX(8px);
    /* transition: all 0.3s ease; */
}

.icon-menu:hover div:nth-child(3) {
    opacity: 0;
    /* transition: all 0.3s ease; */
}

#panelMenu {
    visibility: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-purple);
    padding: 2rem 0;
    top: 0;
    animation: fadeOut 0.3s ease;
}

#panelMenu.active {
    visibility: visible;
}

#panelMenu.active .menu-toggle-aside {
    background-image: none;
}

#panelMenu.active .menu-toggle {
    background-color: transparent;
}

#panelMenu.active .icon-menu-close {
    width: 48px;
    height: 48px;
    background-color: var(--color-green);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -30px;
}

#panelMenu.active .icon-menu-close div {
    background-color: var(--color-purple);
    width: 25px;
    height: 2px;
    margin: 3px 12px;
    transition: all 0.3s ease;
}

#panelMenu.active .icon-menu-close div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

#panelMenu.active .icon-menu-close div:nth-child(2) {
    opacity: 0;
}

#panelMenu.active .icon-menu-close div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}

#panelMenu.active .icon-menu-close:hover div:nth-child(3) {
    opacity: 1;
}

#panelMenu.active .icon-menu-close:hover {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#panelMenu.active nav {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panelMenu.active nav ul {
    list-style: none;
}

#panelMenu.active nav ul li {
    margin: 2rem auto;
    text-align: center;
}

#panelMenu.active nav ul li a {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--color-white);
    text-decoration: none;
}

#panelMenu.active nav ul li:hover a::before {
    content: '';
    position: absolute;
    background-image: url('../img/icon-flag.png');
    width: 44px;
    height: 40px;
    margin: 0.5rem -55px;
}

/* Header e menu */

/* Animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes move {
    50% {
        -webkit-transform: translate(0, 25px);
        -moz-transform: translate(0, 25px);
        -ms-transform: translate(0, 25px);
        -o-transform: translate(0, 25px);
        transform: translate(0, 25px);
    }

    100% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

/* Animation */

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Dots */

.slick-dots {
    position: absolute;
    display: block;
    text-align: center;
    top: 40%;
    left: 10%;
}

.slick-dots li {
    position: relative;
    display: block;
    width: 17px;
    height: 17px;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-purple);
}

.slick-dots li.slick-active::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: -4px -12.5px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 2px var(--color-purple);
}

.slick-dots li.slick-active {
    background-color: #FF0D8C50;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 17px;
    height: 17px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li:hover,
.slick-dots li:focus {
    background-color: #FF0D8C50;
    transition: all 0.3s ease;
}

/* Slick Carousel */

/* Sections */

/* section:is(.about, .how-do, .services) {
    padding: 3rem 0 3rem 0;
} */

.spotlight {
    height: 768px;
}

.spotlight p {
    color: var(--color-white);
}

.carousel-spotlight .item {
    min-height: 768px;
    display: flex;
    align-items: center;
    width: 100%;
}


.carousel-spotlight .item:nth-child(2) {
    background-image: url('../img/slick-slide-md-lg-01.png');
    background-size: cover;
}

.carousel-spotlight .item:nth-child(3) {
    background-image: url('../img/slick-slide-md-lg-02.png');
    background-size: cover;
}

.carousel-spotlight .item:nth-child(4) {
    background-image: url('../img/slick-slide-md-lg-03.png');
    background-size: cover;
}

.carousel-spotlight .item:nth-child(4) p {
    color: var(--color-black);
}

.carousel-spotlight .item:nth-child(5) {
    background-image: url('../img/slick-slide-md-lg-04.png');
    background-size: cover;
}

.carousel-spotlight .item:nth-child(5) h1 {
    color: var(--color-green);
}


/* 
.carousel-spotlight .item:nth-child(1) .thumbnail {
    background-image: url('../img/slick-slide-md-lg-01.png');
    background-size: cover;
    width: 100%;
    min-height: 768px;
} */
/* 
.carousel-spotlight .item .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-spotlight .item .thumbnail {
    min-height: 768px;

}

.carousel-spotlight .item .thumbnail img {
    min-height: 768px;
    width: 100%;

}

.carousel-spotlight .item .content .content-inner {
    position: absolute;
    max-width: 20vw;
    margin-left: 3%;
}
 */


/* .carousel-spotlight .item .content {
    position: absolute;
    width: 10%;
    border: solid 2px red;
} */

/* .carousel-spotlight .item .content {
    position: absolute;
    top: 30%;
    width: 30%;
    left: 15%;
} */

.about img {
    margin-top: -3rem;
    animation: move 1.5s infinite;
}


.aside {
    background-image: url('../img/pattern.png');
    background-position: 0 3rem;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.label {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-black);
}

.carousel-method {
    background-image: url('../img/carousel-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 3rem;
    min-height: 500px;
    padding-left: 5rem;
}


/* .carousel-method .slick-slide {
    margin-top: -1rem;
} */


/* .carousel-method .slick-track {
    margin-bottom: 2rem;
} */

.carousel-method .card {
    padding: 1rem !important;
    margin: 0 0.5rem 0 0.5rem;
    /* box-shadow: -2px -2px 5px var(--color-black); */
    position: relative;
    min-height: 400px;
}

.carousel-method .card .header {
    display: flex;
}

.carousel-method .card .header .number {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: var(--color-black);
    margin-right: 0.5rem;
}


.carousel-method .card p {
    margin: 0.5rem auto;
}

.custom-arrows {
    display: flex;
    justify-content: center;
    margin-top: -4.5rem;
    z-index: 1000;
    position: absolute;
    width: 100%;
}

.custom-arrows .prev,
.custom-arrows .next {
    width: 48px;
    height: 48px;
    background-color: var(--color-white);
    border-radius: 50%;
    border: solid 2px transparent;
    margin: 0 0.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.custom-arrows .prev:hover,
.custom-arrows .next:hover {
    border: solid 2px var(--color-white);
    background-color: transparent;
    transition: all 0.3s ease;
}

.custom-arrows .prev div,
.custom-arrows .next div {
    width: 15px;
    height: 2px;
    background-color: var(--color-purple);
    margin: 3px auto;
}

.custom-arrows .prev:hover div,
.custom-arrows .next:hover div {
    background-color: var(--color-white);
}

.custom-arrows .prev div:nth-child(1) {
    transform: rotate(-40deg) translateX(1px);
}

.custom-arrows .prev div:nth-child(2) {
    transform: rotate(40deg) translateX(1px);
}

.custom-arrows .next div:nth-child(1) {
    transform: rotate(40deg) translateX(-1px);
}

.custom-arrows .next div:nth-child(2) {
    transform: rotate(-40deg) translateX(-1px);
}

.services {
    background-image: url('../img/background-services.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 5rem 0 5rem;
}

.services .label {
    color: var(--color-white);
}

.services .box-content {
    display: flex;
    margin-left: -7rem;
    margin-top: 1rem;
}

.services-aside {
    background-image: url('../img/services-aside.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    /* min-height: 585px; */
    width: 140px;
}

.services-content {
    background-color: var(--color-white);
    height: auto;
    width: 100%;
    padding: 1rem 2rem 1rem 1rem;
}

.services-content ul li {
    list-style: none;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    color: var(--color-black);
    padding: 0 0 0 2rem;
    margin: 0.5rem auto;
}

.services-content ul li::before {
    background-image: url('../img/bullet-list.png');
    background-position: 0 0;
    width: 22px;
    height: 22px;
    content: '';
    position: absolute;
    margin: 0 0 0 -2rem;
}

.why-we-do img {
    margin-top: -3rem;
    animation: move 1.5s infinite;
}

/* Sections */

/* Footer */

footer {
    background-color: var(--color-black);
    padding: 5rem 0 3rem 0;
    border: solid 1px white;
}

footer .label, footer h2{
    color: var(--color-white);
}

footer p {
    margin: 0;
    font-size: 0.8rem;
    color: var(--color-white);
}

form {
    margin: 1rem auto;
}

form input,
form textarea {
    width: 100%;
    border: solid 1px var(--color-purple);
    background-color: #FF0D8C25;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    color: var(--color-white);
}

form input::placeholder,
form textarea::placeholder {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: inherit;
    line-height: inherit;
    color: var(--color-white);
}

form input:focus,
form textarea:focus {
    /* box-shadow: 1px 1px 5px var(--color-purple); */
    border: none;
    outline: #FF0D8C;
}

.icon {
    display: flex;
}

.icon img {
    width: 20px;
    height: 20px;
}

.icon a {
    color: var(--color-white);
    margin: 0 0 0 0.5rem;
}

.icon p {
    color: var(--color-white);
    margin: 0 0 0 0.5rem;
}

hr.line {
    height: 1px;
    width: 100%;
    background-color: var(--color-purple);
}

.icon-flag {
    width: 1.5rem;
    margin: 0 0.3rem 0 0.3rem;
}

.float-button {
    content: '';
    background-color: var(--color-purple);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 22rem 0 0 0;
}


.float-button div {
    width: 20px;
    height: 2px;
    background-color: var(--color-white);
    margin: 7px auto;
}

.float-button div:nth-child(1) {
    transform: rotate(-45deg) translateX(7px);
}

.float-button div:nth-child(2) {
    transform: rotate(45deg) translateX(-7px);
}

/* Footer */

/* Media Queries */


@media (max-width: 991px) {

    .carousel-spotlight .item .col-sm-12,
    .carousel-spotlight .item .col-md-12 {
        text-align: center;
        padding: 0 15rem 0 10rem;
    }

    .about img {
        width: 20rem;
    }

    .why-we-do img {
        width: 30rem;
    }

    .carousel-spotlight .item:nth-child(2) {
        background-image: url('../img/slick-slide-xs-sm-01.png');
        background-size: cover;
    }

    .carousel-spotlight .item:nth-child(3) {
        background-image: url('../img/slick-slide-xs-sm-02.png');
        background-size: cover;
    }

    .carousel-spotlight .item:nth-child(4) {
        background-image: url('../img/slick-slide-xs-sm-03.png');
        background-size: cover;
    }

    .carousel-spotlight .item:nth-child(5) {
        background-image: url('../img/slick-slide-xs-sm-04.png');
        background-size: cover;
    }
    /* section:is(.about, .how-do) {
        padding: 3rem 0;
    } */
    .float-button {
        margin: 3rem 0 3rem 0;
    } 
}

@media (max-width: 768px) {
    .carousel-spotlight .item .col-sm-12,
    .carousel-spotlight .item .col-md-12 {
        text-align: center;
        padding: 0 10rem 0 8rem;
    }
}


@media (max-width: 425px) {
    * {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .carousel-spotlight .item .col-sm-12,
    .carousel-spotlight .item .col-md-12 {
        text-align: center;
        padding: 0 3rem 0 5rem;
    }
    .carousel-spotlight .item {
        min-height: 768px;
        display: flex;
        align-items: center;
        width: 100%;
        background-position: -5rem 0;
    }
}

/* Media Queries */