@charset "UTF-8";

/* CSS Document */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}


/* Header */

header {
    min-height: 120px;
    width: 100vw;
    background-color: #094740;
    padding: 20px 0 0 20px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-inner span {
    background-color: #FFFFFF;
    width: 2px;
    height: 2em;
    margin: 0 1% 0 1%;
}

.header-inner img {
    width: 15%;
}


/* Titles */

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #FFFFFF;
    margin: 0px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: #094740;
    font-weight: 800;
    line-height: 1em;
    margin: 0px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: #094740;
    font-weight: 800;
    line-height: 1em;
    margin: 0px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: 800;
    line-height: 1em;
    margin: 0px;
}


/* Paragraph */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #094740;
}


/* Sections */

#access-to-tests {
    background-color: #FFFFFF;
    padding: 5% 0 5% 0;
    margin-top: 10px;
}

#why-study {
    width: 100vw;
}

.reasons {
    width: 100vw;
    height: 130vh;
    padding: 5% 0 0 0;
    background: #094740;
}

.bullets {
    margin-top: 5%;
}

.bullets .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
    background-color: #0B5850;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
}


/*
.circle:hover {
    height: 130px;
    width: 130px;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}*/

.circle img {
    width: 50%;
    height: auto;
}

.bullets .item .legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    margin: 3% 0 3% 0;
    font-weight: 800;
    text-align: center;
}

.bullets .item p {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
}

#about-language {
    background: #4CB596;
    min-height: 400px;
    width: 100vw;
}

.description-language {
    margin-top: 5%;
}

.icon-flag img {
    width: 3%;
    height: auto;
    margin-right: 1%;
}

.description-language h2 {
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #646464;
}

.description-language p {
    color: #FFFFFF;
    margin-top: 3%;
}

.group-cards:first-child {
    margin-top: -10%;
}

.card {
    width: 100%;
    min-height: 320px;
    background: #F9F9F9;
    padding: 10%;
    box-shadow: 0px 6px 10px #00000029;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.card .title {
    color: #094740;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10%;
}

.card .legend {
    color: #094740;
    font-size: .8em;
    margin-bottom: 10%;
}

#how-work {
    margin-top: 5%;
    margin-bottom: 15%;
}

#how-work h2 {
    margin-bottom: 5%;
}

.info-test {
    margin-top: 5%;
}

.info-test .item {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.icon-interrogation img {
    width: 100%;
    height: auto;
}

.icon-clock img {
    width: 75%;
    height: auto;
}

.icon-questions img {
    width: 75%;
    height: auto;
}

.info-test .title {
    font-weight: 600;
    font-size: 1.2em;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #646464;
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.info-test .legend {
    color: #FFFFFF;
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.test-progress {
    background: #F9F9F9;
    width: 100vw;
    min-height: 450px;
}

.info-progress {
    margin-top: 5%;
}

.info-progress .legend {
    color: #094740;
    font-size: 1em;
    font-weight: 800;
}

.info-progress h2,
.info-progress h4 {
    display: inline;
}

.info-progress h4 {
    color: #14A493
}

.info-progress hr.line {
    border: solid 1px #000000;
    margin-bottom: 3%;
}

.control-buttoms {
    width: 30%;
}

#warning-modal-inner {
    width: 100%;
    height: auto;
    padding: 10% 15% 15% 15%;
}

#result-test {
    background: #4CB596;
    min-height: 400px;
    width: 100vw;
}

#result-test .messege {
    margin-top: 5%;
}

#result-test h2 {
    color: #FFFFFF
}

.card p.result {
    margin-top: 85%;
}

.result .card {
    min-height: 400px;
}

.result .card h2 {
    font-weight: 600;
    color: #14A493;
    line-height: 1.3em;
    margin-top: 25%;
    margin-bottom: 40%;
}

.result .btn-start-test {
    margin-bottom: 5%;
}

.courses .group-cards:first-child {
    margin-top: 5%;
}

.courses {
    margin-bottom: 45%;
}

.card-course {
    width: 100%;
    min-height: 320px;
    background: #E3EFE6;
    padding: 0%;
    box-shadow: 0px 6px 10px #00000029;
    border-radius: 10px;
    margin-bottom: 5%;
}

.card-course .course-top {
    height: 50px;
    position: relative;
    background-color: #7EC196;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 3%;
    text-align: center;
}

.card-course .course-inner {
    padding: 10% 10% 10% 10%;
    text-align: left;
}

.card-course .course-inner h3 {
    font-weight: 700;
    margin: 5% 0% 3% 0%;
}

.card-course .course-top span.label {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.3em;
}

.card-course .course-inner p.edition {
    color: #094740;
    font-size: 1em;
    text-align: left;
}

.card-course .course-inner hr.line {
    border: solid 1px #B6C3BA;
    margin-bottom: 3%;
}

.card-course .course-inner .btn-start {
    margin-top: 15px;
}

.more-courses {
    margin-bottom: 15%;
}

.more-courses h1 {
    font-weight: 800;
}

.more-courses .btn-arrow {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    min-width: 40%;
    background-color: #0B5850;
    color: #4CB596;
    border-radius: 10px;
    text-align: left;
    padding: 2% 5% 2% 5%;
    margin: 8px 10px 8px 0;
    font-weight: 600;
    box-shadow: 0px 2px #14A493;
}

.more-courses .btn-arrow:hover,
.more-courses .btn-arrow:focus {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #14A493;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}


/* Questions */

.questions-block-text {
    background: url(../images/background-questions-block-text.svg) repeat-y;
    background-size: 50%;
    background-position-x: 0px;
}

.questions-block-text .question {
    display: flex;
    align-items: flex-start;
}

.questions-block {
    background: #FFFFFF;
}

.block-text {
    padding: 10%;
}

.questions-block-text .questions:first-child {
    padding: 10% 0 0 0;
}

.block-text .instruction {
    font-weight: 800;
    color: #FFFFFF;
}

.block-text p {
    color: #FFFFFF;
}

.block-text p::first-letter {
    padding-left: 10%;
}

.block-text span.source {
    font-size: .8em;
    color: #FFFFFF;
    font-family: inherit;
}

.questions .instruction {
    color: #000000;
}

.query {
    /*display: flex;
    align-items: flex-start;*/
    margin: 10% 0 10% 0;
}

.query-index {
    /*background: #C1C1C1;
    padding: 1%;
    color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    width: 15%;
    margin-right: 3%;*/
    display: inline;
    padding: .5% 2% .5% 2%;
    font-size: .8em;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
    background: #C1C1C1;
    margin-right: 3%;
}

.query .question p,
.query .question-single p {
    font-weight: 800;
    color: #000000;
}

.query label {
    color: #14A493;
    font-weight: 100;
    display: inline;
    line-height: 1.8em;
    margin-left: 12%;
}

.query label .sentence {
    padding-left: 5%
}

.control-buttoms-query {
    width: 80%;
    margin-left: 10%;
}

.control-buttoms-query .btn-back-test {
    width: 45%;
    margin-top: 5%;
    padding: 2% 10% 2% 12%;
}

.control-buttoms-query .btn-next-test {
    width: 45%;
    margin-top: 5%;
    padding: 2% 10% 2% 2%;
}


/* Single Question page */

.query p.sentence {
    color: #14A493;
    line-height: 1.8em;
    margin-left: 10%;
    font-weight: 800;
}

.query p.dialog {
    color: #14A493;
    line-height: 1.8em;
    margin-left: 10%;
    font-weight: 100;
}

.query span.person {
    font-weight: 800;
    margin-right: 3%;
}

.questions .question-single {
    display: flex;
    align-items: flex-start;
}

.question-block .control-buttoms-query {
    width: 45%;
    margin-left: 10%;
    margin-bottom: 30%;
    margin-top: -5%;
}

.question-block label {
    margin-left: 10%;
}

.question-block label .sentence {
    padding-left: 2.5%;
}

.question-block .questions .checkmark {
    margin-top: .5%;
}

.question-block .questions .control-buttoms-query {
    width: 45%;
    margin-left: 10%;
    margin-bottom: 30%;
}


/* Single Question Video page */

.questions-block-video {
    background: #14A493;
    width: 100vw;
    height: 300px;
}

.block-video {
    margin-top: 3%;
    width: 60%;
}

.block-video .instruction {
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 3%;
}

.block-video span.source {
    font-size: .8em;
    color: #094740;
    font-family: inherit;
    font-weight: 800;
    margin-top: 3%;
}

.questions-block-video .query label {
    margin-left: 11%;
}

.questions-block-video .query label .sentence {
    padding-left: 2.5%;
}

.questions-block-video .query .checkmark {
    margin-top: .5%;
}

.questions-block-video .question {
    display: flex;
    align-items: flex-start;
}

.questions-block-video .control-buttoms-query {
    width: 45%;
    margin-bottom: 30%;
    margin-top: -5%;
}


/* Custom radio */


/* Hide the browser's default checkbox */

.query input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.query .checkmark {
    position: absolute;
    margin-top: 1%;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: solid 2px #14A493;
}


/* When the checkbox is checked, add a background */

.query input:checked~.checkmark {
    background-color: #14A493;
}


/* Create the checkmark/indicator (hidden when not checked) */

.query .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.query input:checked~.checkmark:after {
    display: block;
}


/* Progress bar */

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #D2EADA;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #14A493;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}


/* Nav Buttoms */

.nav-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nav-button .btn-arrow:first-child {
    margin-top: 50px;
}

.nav-button .btn-arrow:last-child {
    margin-bottom: 50px;
}


/* Buttoms */

.glyphicon {
    top: 3px!important;
    font-weight: normal!important;
}

.btn-arrow {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    min-width: 60%;
    background-color: #F9F9F9;
    color: #14A493;
    border-radius: 10px;
    text-align: left;
    padding: 2% 5% 2% 5%;
    margin: 8px 0 8px 0;
    font-weight: 600;
    box-shadow: 0px 2px #14A493;
}

.btn-arrow:hover,
.btn-arrow:focus {
    text-decoration: none;
    background-color: #14A493;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-start-test {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    min-width: 100%;
    background-color: #F9F9F9;
    color: #14A493;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 5% 2% 5%;
    margin: 8px 0 8px 0;
    font-weight: 600;
    box-shadow: 0px 2px #14A493;
    margin-bottom: 15%;
}

.btn-start-test:hover,
.btn-start-test:focus {
    text-decoration: none;
    background-color: #14A493;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-back {
    display: inline-block;
    position: relative;
    font-size: 1em;
    min-width: 200px;
    background-color: #0B5850;
    color: #4CB596;
    border-radius: 10px;
    text-align: right;
    left: 25%;
    padding: 1% 2% 1% 2%;
    text-transform: uppercase;
}

.btn-more {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    font-size: 1em;
    min-width: 220px;
    background-color: #0B5850;
    color: #4CB596;
    border-radius: 10px;
    text-align: left;
    padding: 1% 2% 1% 2%;
    text-transform: uppercase;
    margin-bottom: 3%;
}

.btn-back:hover,
.btn-more:hover,
.btn-more:focus {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #14A493;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-start {
    display: inline-block;
    position: relative;
    font-size: 1em;
    min-width: 150px;
    background-color: #14A493;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 2% 10% 2% 10%;
    text-transform: uppercase;
}

.btn-start:hover,
.btn-start:focus {
    text-decoration: none;
    background-color: #094740;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-back-test {
    width: 45%;
    margin-top: 5%;
    padding: 2% 2% 2% 10%;
    border-radius: 5px;
    border: solid 1px #7EC395;
    text-align: left;
    background: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    color: #7EC395;
    font-size: 1em;
    text-transform: uppercase;
}

.btn-back-test:hover,
.btn-back-test:focus,
#warning-modal-inner .btn-back-test:hover,
#warning-modal-inner .btn-back-test:focus {
    text-decoration: none;
    background-color: #7EC395;
    color: #094740;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-next-test {
    width: 45%;
    margin-top: 5%;
    padding: 2% 12% 2% 2%;
    border-radius: 5px;
    border: none;
    text-align: right;
    background: #14A493;
    font-family: inherit;
    font-size: inherit;
    color: #FFFFFF;
    font-size: 1em;
    text-transform: uppercase;
}

.btn-next-test:hover,
.btn-next-test:focus {
    text-decoration: none;
    background-color: #094740;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

#warning-modal-inner .btn-back-test {
    padding: 2% 2% 2% 12%;
}

#warning-modal-inner .btn-next-test {
    padding: 2% 16% 2% 2%;
}


/* Content */

.element-fade-up {
    margin-top: 20%;
}

.element-absolute {
    position: absolute;
    right: 0px;
}

.element-absolute img {
    width: 70%;
    height: auto;
}


/* Forms */

.form-contact {
    background-color: #0B5850;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 5%;
    margin-top: 10%;
}

input,
textarea {
    outline: none;
}

.form-contact-inner input:focus,
.form-contact-inner textarea:focus {
    border: solid 1px #FFFFFF;
}

.form-contact-inner input {
    display: inline-block;
    width: 48%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    background: #094740;
    margin-top: 5%;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
}

.form-contact-inner textarea {
    width: 100%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    background: #094740;
    margin-top: 3%;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
}

.form-contact-inner textarea,
.form-more-inner textarea {
    resize: none;
}

.form-contact-inner input::placeholder,
.form-contact-inner textarea::placeholder {
    color: #4CB596;
}

.form-contact-inner input:first-child {
    margin-right: 3%;
}

.form-contact-inner button {
    min-width: 100px;
    padding: 1%;
    border-radius: 10px;
    border: none;
    margin-top: 3%;
    background: #094740;
    font-family: inherit;
    font-size: inherit;
    color: #4CB596;
}

.form-contact-inner button:hover {
    background: #FFFFFF;
    color: #094740;
    font-weight: 600;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.modal-content {
    background: #F9F9F9;
    border: none;
    border-radius: 5px;
    outline: none;
}

.form-more {
    width: 100%;
    height: auto;
    padding: 10% 15% 15% 15%;
}

.form-more-inner label,
.form-more-information-inner label {
    color: #14A493;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    margin-top: 5%;
}

.form-more-inner input,
.form-more-information-inner input,
.form-more-inner textarea {
    display: inline-block;
    width: 100%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    background: #E3F2E8;
    color: #094740;
    font-family: inherit;
    font-size: inherit;
}

.form-more-inner input:focus,
.form-more-information-inner input:focus,
.form-more-inner textarea:focus {
    border: solid 1px #7EC395;
}

.group-buttoms {
    width: 50%;
}

.form-more-inner button.send {
    width: 45%;
    margin-top: 5%;
    padding: 2% 8% 2% 2%;
    border-radius: 5px;
    border: none;
    text-align: right;
    background: #14A493;
    font-family: inherit;
    font-size: inherit;
    color: #FFFFFF;
    font-size: 1.2em;
    text-transform: uppercase;
}

.form-more-inner button.send:hover {
    background: #094740;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.form-more-inner button.back {
    width: 45%;
    margin-top: 5%;
    padding: 2% 2% 2% 8%;
    border-radius: 5px;
    border: solid 1px #7EC395;
    text-align: left;
    background: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    color: #7EC395;
    font-size: 1.2em;
    text-transform: uppercase;
}

.form-more-inner button.back:hover {
    background: #7EC395;
    color: #094740;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.form-more-information {
    background-color: #F9F9F9;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 5%;
    margin-top: -10%;
}

.form-more-information-inner p {
    margin-top: 5%;
}

.form-more-information-inner form {
    width: 70%;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.form-more-information-inner input[type=checkbox] {
    width: 20px;
}

.checkbox label {
    font-size: .8em;
    text-transform: none;
    color: #8B8E91;
    margin-top: 5px;
}


/* Footer */

footer {
    background: #094740;
    padding: 3% 0 3% 0;
}

footer .logo-marista {
    width: 40%;
    height: auto;
}

footer .logo-pucrs {
    width: 80%;
    height: auto;
}

footer .logo-lexis {
    width: 80%;
    height: auto;
}

hr.line {
    border: solid 1px #4CB596;
    margin-bottom: 3%;
}


/* Help Class */

.align-item-center {
    display: flex;
    align-items: center;
}


/* Circle */

.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #14A493;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100 {
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #E3F2E8;
    font-family: inherit;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

.c100 *,
.c100 *:before,
.c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.c100.center {
    float: none;
    margin: 0 auto;
}

.c100.big {
    font-size: 200px;
}

.c100.small {
    font-size: 80px;
}

.c100 span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: -.8em;
    top: -.8em;
    width: 5em;
    line-height: 5em;
    font-size: 0.3em;
    color: #14A493;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #F9F9F9;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100.p1 .bar {
    -webkit-transform: rotate(3.6deg);
    -moz-transform: rotate(3.6deg);
    -ms-transform: rotate(3.6deg);
    -o-transform: rotate(3.6deg);
    transform: rotate(3.6deg);
}

.c100.p2 .bar {
    -webkit-transform: rotate(7.2deg);
    -moz-transform: rotate(7.2deg);
    -ms-transform: rotate(7.2deg);
    -o-transform: rotate(7.2deg);
    transform: rotate(7.2deg);
}

.c100.p3 .bar {
    -webkit-transform: rotate(10.8deg);
    -moz-transform: rotate(10.8deg);
    -ms-transform: rotate(10.8deg);
    -o-transform: rotate(10.8deg);
    transform: rotate(10.8deg);
}

.c100.p4 .bar {
    -webkit-transform: rotate(14.4deg);
    -moz-transform: rotate(14.4deg);
    -ms-transform: rotate(14.4deg);
    -o-transform: rotate(14.4deg);
    transform: rotate(14.4deg);
}

.c100.p5 .bar {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    transform: rotate(18deg);
}

.c100.p6 .bar {
    -webkit-transform: rotate(21.6deg);
    -moz-transform: rotate(21.6deg);
    -ms-transform: rotate(21.6deg);
    -o-transform: rotate(21.6deg);
    transform: rotate(21.6deg);
}

.c100.p7 .bar {
    -webkit-transform: rotate(25.2deg);
    -moz-transform: rotate(25.2deg);
    -ms-transform: rotate(25.2deg);
    -o-transform: rotate(25.2deg);
    transform: rotate(25.2deg);
}

.c100.p8 .bar {
    -webkit-transform: rotate(28.8deg);
    -moz-transform: rotate(28.8deg);
    -ms-transform: rotate(28.8deg);
    -o-transform: rotate(28.8deg);
    transform: rotate(28.8deg);
}

.c100.p9 .bar {
    -webkit-transform: rotate(32.4deg);
    -moz-transform: rotate(32.4deg);
    -ms-transform: rotate(32.4deg);
    -o-transform: rotate(32.4deg);
    transform: rotate(32.4deg);
}

.c100.p10 .bar {
    -webkit-transform: rotate(36deg);
    -moz-transform: rotate(36deg);
    -ms-transform: rotate(36deg);
    -o-transform: rotate(36deg);
    transform: rotate(36deg);
}

.c100.p11 .bar {
    -webkit-transform: rotate(39.6deg);
    -moz-transform: rotate(39.6deg);
    -ms-transform: rotate(39.6deg);
    -o-transform: rotate(39.6deg);
    transform: rotate(39.6deg);
}

.c100.p12 .bar {
    -webkit-transform: rotate(43.2deg);
    -moz-transform: rotate(43.2deg);
    -ms-transform: rotate(43.2deg);
    -o-transform: rotate(43.2deg);
    transform: rotate(43.2deg);
}

.c100.p13 .bar {
    -webkit-transform: rotate(46.800000000000004deg);
    -moz-transform: rotate(46.800000000000004deg);
    -ms-transform: rotate(46.800000000000004deg);
    -o-transform: rotate(46.800000000000004deg);
    transform: rotate(46.800000000000004deg);
}

.c100.p14 .bar {
    -webkit-transform: rotate(50.4deg);
    -moz-transform: rotate(50.4deg);
    -ms-transform: rotate(50.4deg);
    -o-transform: rotate(50.4deg);
    transform: rotate(50.4deg);
}

.c100.p15 .bar {
    -webkit-transform: rotate(54deg);
    -moz-transform: rotate(54deg);
    -ms-transform: rotate(54deg);
    -o-transform: rotate(54deg);
    transform: rotate(54deg);
}

.c100.p16 .bar {
    -webkit-transform: rotate(57.6deg);
    -moz-transform: rotate(57.6deg);
    -ms-transform: rotate(57.6deg);
    -o-transform: rotate(57.6deg);
    transform: rotate(57.6deg);
}

.c100.p17 .bar {
    -webkit-transform: rotate(61.2deg);
    -moz-transform: rotate(61.2deg);
    -ms-transform: rotate(61.2deg);
    -o-transform: rotate(61.2deg);
    transform: rotate(61.2deg);
}

.c100.p18 .bar {
    -webkit-transform: rotate(64.8deg);
    -moz-transform: rotate(64.8deg);
    -ms-transform: rotate(64.8deg);
    -o-transform: rotate(64.8deg);
    transform: rotate(64.8deg);
}

.c100.p19 .bar {
    -webkit-transform: rotate(68.4deg);
    -moz-transform: rotate(68.4deg);
    -ms-transform: rotate(68.4deg);
    -o-transform: rotate(68.4deg);
    transform: rotate(68.4deg);
}

.c100.p20 .bar {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
}

.c100.p21 .bar {
    -webkit-transform: rotate(75.60000000000001deg);
    -moz-transform: rotate(75.60000000000001deg);
    -ms-transform: rotate(75.60000000000001deg);
    -o-transform: rotate(75.60000000000001deg);
    transform: rotate(75.60000000000001deg);
}

.c100.p22 .bar {
    -webkit-transform: rotate(79.2deg);
    -moz-transform: rotate(79.2deg);
    -ms-transform: rotate(79.2deg);
    -o-transform: rotate(79.2deg);
    transform: rotate(79.2deg);
}

.c100.p23 .bar {
    -webkit-transform: rotate(82.8deg);
    -moz-transform: rotate(82.8deg);
    -ms-transform: rotate(82.8deg);
    -o-transform: rotate(82.8deg);
    transform: rotate(82.8deg);
}

.c100.p24 .bar {
    -webkit-transform: rotate(86.4deg);
    -moz-transform: rotate(86.4deg);
    -ms-transform: rotate(86.4deg);
    -o-transform: rotate(86.4deg);
    transform: rotate(86.4deg);
}

.c100.p25 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.c100.p26 .bar {
    -webkit-transform: rotate(93.60000000000001deg);
    -moz-transform: rotate(93.60000000000001deg);
    -ms-transform: rotate(93.60000000000001deg);
    -o-transform: rotate(93.60000000000001deg);
    transform: rotate(93.60000000000001deg);
}

.c100.p27 .bar {
    -webkit-transform: rotate(97.2deg);
    -moz-transform: rotate(97.2deg);
    -ms-transform: rotate(97.2deg);
    -o-transform: rotate(97.2deg);
    transform: rotate(97.2deg);
}

.c100.p28 .bar {
    -webkit-transform: rotate(100.8deg);
    -moz-transform: rotate(100.8deg);
    -ms-transform: rotate(100.8deg);
    -o-transform: rotate(100.8deg);
    transform: rotate(100.8deg);
}

.c100.p29 .bar {
    -webkit-transform: rotate(104.4deg);
    -moz-transform: rotate(104.4deg);
    -ms-transform: rotate(104.4deg);
    -o-transform: rotate(104.4deg);
    transform: rotate(104.4deg);
}

.c100.p30 .bar {
    -webkit-transform: rotate(108deg);
    -moz-transform: rotate(108deg);
    -ms-transform: rotate(108deg);
    -o-transform: rotate(108deg);
    transform: rotate(108deg);
}

.c100.p31 .bar {
    -webkit-transform: rotate(111.60000000000001deg);
    -moz-transform: rotate(111.60000000000001deg);
    -ms-transform: rotate(111.60000000000001deg);
    -o-transform: rotate(111.60000000000001deg);
    transform: rotate(111.60000000000001deg);
}

.c100.p32 .bar {
    -webkit-transform: rotate(115.2deg);
    -moz-transform: rotate(115.2deg);
    -ms-transform: rotate(115.2deg);
    -o-transform: rotate(115.2deg);
    transform: rotate(115.2deg);
}

.c100.p33 .bar {
    -webkit-transform: rotate(118.8deg);
    -moz-transform: rotate(118.8deg);
    -ms-transform: rotate(118.8deg);
    -o-transform: rotate(118.8deg);
    transform: rotate(118.8deg);
}

.c100.p34 .bar {
    -webkit-transform: rotate(122.4deg);
    -moz-transform: rotate(122.4deg);
    -ms-transform: rotate(122.4deg);
    -o-transform: rotate(122.4deg);
    transform: rotate(122.4deg);
}

.c100.p35 .bar {
    -webkit-transform: rotate(126deg);
    -moz-transform: rotate(126deg);
    -ms-transform: rotate(126deg);
    -o-transform: rotate(126deg);
    transform: rotate(126deg);
}

.c100.p36 .bar {
    -webkit-transform: rotate(129.6deg);
    -moz-transform: rotate(129.6deg);
    -ms-transform: rotate(129.6deg);
    -o-transform: rotate(129.6deg);
    transform: rotate(129.6deg);
}

.c100.p37 .bar {
    -webkit-transform: rotate(133.20000000000002deg);
    -moz-transform: rotate(133.20000000000002deg);
    -ms-transform: rotate(133.20000000000002deg);
    -o-transform: rotate(133.20000000000002deg);
    transform: rotate(133.20000000000002deg);
}

.c100.p38 .bar {
    -webkit-transform: rotate(136.8deg);
    -moz-transform: rotate(136.8deg);
    -ms-transform: rotate(136.8deg);
    -o-transform: rotate(136.8deg);
    transform: rotate(136.8deg);
}

.c100.p39 .bar {
    -webkit-transform: rotate(140.4deg);
    -moz-transform: rotate(140.4deg);
    -ms-transform: rotate(140.4deg);
    -o-transform: rotate(140.4deg);
    transform: rotate(140.4deg);
}

.c100.p40 .bar {
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg);
}

.c100.p41 .bar {
    -webkit-transform: rotate(147.6deg);
    -moz-transform: rotate(147.6deg);
    -ms-transform: rotate(147.6deg);
    -o-transform: rotate(147.6deg);
    transform: rotate(147.6deg);
}

.c100.p42 .bar {
    -webkit-transform: rotate(151.20000000000002deg);
    -moz-transform: rotate(151.20000000000002deg);
    -ms-transform: rotate(151.20000000000002deg);
    -o-transform: rotate(151.20000000000002deg);
    transform: rotate(151.20000000000002deg);
}

.c100.p43 .bar {
    -webkit-transform: rotate(154.8deg);
    -moz-transform: rotate(154.8deg);
    -ms-transform: rotate(154.8deg);
    -o-transform: rotate(154.8deg);
    transform: rotate(154.8deg);
}

.c100.p44 .bar {
    -webkit-transform: rotate(158.4deg);
    -moz-transform: rotate(158.4deg);
    -ms-transform: rotate(158.4deg);
    -o-transform: rotate(158.4deg);
    transform: rotate(158.4deg);
}

.c100.p45 .bar {
    -webkit-transform: rotate(162deg);
    -moz-transform: rotate(162deg);
    -ms-transform: rotate(162deg);
    -o-transform: rotate(162deg);
    transform: rotate(162deg);
}

.c100.p46 .bar {
    -webkit-transform: rotate(165.6deg);
    -moz-transform: rotate(165.6deg);
    -ms-transform: rotate(165.6deg);
    -o-transform: rotate(165.6deg);
    transform: rotate(165.6deg);
}

.c100.p47 .bar {
    -webkit-transform: rotate(169.20000000000002deg);
    -moz-transform: rotate(169.20000000000002deg);
    -ms-transform: rotate(169.20000000000002deg);
    -o-transform: rotate(169.20000000000002deg);
    transform: rotate(169.20000000000002deg);
}

.c100.p48 .bar {
    -webkit-transform: rotate(172.8deg);
    -moz-transform: rotate(172.8deg);
    -ms-transform: rotate(172.8deg);
    -o-transform: rotate(172.8deg);
    transform: rotate(172.8deg);
}

.c100.p49 .bar {
    -webkit-transform: rotate(176.4deg);
    -moz-transform: rotate(176.4deg);
    -ms-transform: rotate(176.4deg);
    -o-transform: rotate(176.4deg);
    transform: rotate(176.4deg);
}

.c100.p50 .bar {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100.p51 .bar {
    -webkit-transform: rotate(183.6deg);
    -moz-transform: rotate(183.6deg);
    -ms-transform: rotate(183.6deg);
    -o-transform: rotate(183.6deg);
    transform: rotate(183.6deg);
}

.c100.p52 .bar {
    -webkit-transform: rotate(187.20000000000002deg);
    -moz-transform: rotate(187.20000000000002deg);
    -ms-transform: rotate(187.20000000000002deg);
    -o-transform: rotate(187.20000000000002deg);
    transform: rotate(187.20000000000002deg);
}

.c100.p53 .bar {
    -webkit-transform: rotate(190.8deg);
    -moz-transform: rotate(190.8deg);
    -ms-transform: rotate(190.8deg);
    -o-transform: rotate(190.8deg);
    transform: rotate(190.8deg);
}

.c100.p54 .bar {
    -webkit-transform: rotate(194.4deg);
    -moz-transform: rotate(194.4deg);
    -ms-transform: rotate(194.4deg);
    -o-transform: rotate(194.4deg);
    transform: rotate(194.4deg);
}

.c100.p55 .bar {
    -webkit-transform: rotate(198deg);
    -moz-transform: rotate(198deg);
    -ms-transform: rotate(198deg);
    -o-transform: rotate(198deg);
    transform: rotate(198deg);
}

.c100.p56 .bar {
    -webkit-transform: rotate(201.6deg);
    -moz-transform: rotate(201.6deg);
    -ms-transform: rotate(201.6deg);
    -o-transform: rotate(201.6deg);
    transform: rotate(201.6deg);
}

.c100.p57 .bar {
    -webkit-transform: rotate(205.20000000000002deg);
    -moz-transform: rotate(205.20000000000002deg);
    -ms-transform: rotate(205.20000000000002deg);
    -o-transform: rotate(205.20000000000002deg);
    transform: rotate(205.20000000000002deg);
}

.c100.p58 .bar {
    -webkit-transform: rotate(208.8deg);
    -moz-transform: rotate(208.8deg);
    -ms-transform: rotate(208.8deg);
    -o-transform: rotate(208.8deg);
    transform: rotate(208.8deg);
}

.c100.p59 .bar {
    -webkit-transform: rotate(212.4deg);
    -moz-transform: rotate(212.4deg);
    -ms-transform: rotate(212.4deg);
    -o-transform: rotate(212.4deg);
    transform: rotate(212.4deg);
}

.c100.p60 .bar {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg);
}

.c100.p61 .bar {
    -webkit-transform: rotate(219.6deg);
    -moz-transform: rotate(219.6deg);
    -ms-transform: rotate(219.6deg);
    -o-transform: rotate(219.6deg);
    transform: rotate(219.6deg);
}

.c100.p62 .bar {
    -webkit-transform: rotate(223.20000000000002deg);
    -moz-transform: rotate(223.20000000000002deg);
    -ms-transform: rotate(223.20000000000002deg);
    -o-transform: rotate(223.20000000000002deg);
    transform: rotate(223.20000000000002deg);
}

.c100.p63 .bar {
    -webkit-transform: rotate(226.8deg);
    -moz-transform: rotate(226.8deg);
    -ms-transform: rotate(226.8deg);
    -o-transform: rotate(226.8deg);
    transform: rotate(226.8deg);
}

.c100.p64 .bar {
    -webkit-transform: rotate(230.4deg);
    -moz-transform: rotate(230.4deg);
    -ms-transform: rotate(230.4deg);
    -o-transform: rotate(230.4deg);
    transform: rotate(230.4deg);
}

.c100.p65 .bar {
    -webkit-transform: rotate(234deg);
    -moz-transform: rotate(234deg);
    -ms-transform: rotate(234deg);
    -o-transform: rotate(234deg);
    transform: rotate(234deg);
}

.c100.p66 .bar {
    -webkit-transform: rotate(237.6deg);
    -moz-transform: rotate(237.6deg);
    -ms-transform: rotate(237.6deg);
    -o-transform: rotate(237.6deg);
    transform: rotate(237.6deg);
}

.c100.p67 .bar {
    -webkit-transform: rotate(241.20000000000002deg);
    -moz-transform: rotate(241.20000000000002deg);
    -ms-transform: rotate(241.20000000000002deg);
    -o-transform: rotate(241.20000000000002deg);
    transform: rotate(241.20000000000002deg);
}

.c100.p68 .bar {
    -webkit-transform: rotate(244.8deg);
    -moz-transform: rotate(244.8deg);
    -ms-transform: rotate(244.8deg);
    -o-transform: rotate(244.8deg);
    transform: rotate(244.8deg);
}

.c100.p69 .bar {
    -webkit-transform: rotate(248.4deg);
    -moz-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    -o-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}

.c100.p70 .bar {
    -webkit-transform: rotate(252deg);
    -moz-transform: rotate(252deg);
    -ms-transform: rotate(252deg);
    -o-transform: rotate(252deg);
    transform: rotate(252deg);
}

.c100.p71 .bar {
    -webkit-transform: rotate(255.6deg);
    -moz-transform: rotate(255.6deg);
    -ms-transform: rotate(255.6deg);
    -o-transform: rotate(255.6deg);
    transform: rotate(255.6deg);
}

.c100.p72 .bar {
    -webkit-transform: rotate(259.2deg);
    -moz-transform: rotate(259.2deg);
    -ms-transform: rotate(259.2deg);
    -o-transform: rotate(259.2deg);
    transform: rotate(259.2deg);
}

.c100.p73 .bar {
    -webkit-transform: rotate(262.8deg);
    -moz-transform: rotate(262.8deg);
    -ms-transform: rotate(262.8deg);
    -o-transform: rotate(262.8deg);
    transform: rotate(262.8deg);
}

.c100.p74 .bar {
    -webkit-transform: rotate(266.40000000000003deg);
    -moz-transform: rotate(266.40000000000003deg);
    -ms-transform: rotate(266.40000000000003deg);
    -o-transform: rotate(266.40000000000003deg);
    transform: rotate(266.40000000000003deg);
}

.c100.p75 .bar {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.c100.p76 .bar {
    -webkit-transform: rotate(273.6deg);
    -moz-transform: rotate(273.6deg);
    -ms-transform: rotate(273.6deg);
    -o-transform: rotate(273.6deg);
    transform: rotate(273.6deg);
}

.c100.p77 .bar {
    -webkit-transform: rotate(277.2deg);
    -moz-transform: rotate(277.2deg);
    -ms-transform: rotate(277.2deg);
    -o-transform: rotate(277.2deg);
    transform: rotate(277.2deg);
}

.c100.p78 .bar {
    -webkit-transform: rotate(280.8deg);
    -moz-transform: rotate(280.8deg);
    -ms-transform: rotate(280.8deg);
    -o-transform: rotate(280.8deg);
    transform: rotate(280.8deg);
}

.c100.p79 .bar {
    -webkit-transform: rotate(284.40000000000003deg);
    -moz-transform: rotate(284.40000000000003deg);
    -ms-transform: rotate(284.40000000000003deg);
    -o-transform: rotate(284.40000000000003deg);
    transform: rotate(284.40000000000003deg);
}

.c100.p80 .bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}

.c100.p81 .bar {
    -webkit-transform: rotate(291.6deg);
    -moz-transform: rotate(291.6deg);
    -ms-transform: rotate(291.6deg);
    -o-transform: rotate(291.6deg);
    transform: rotate(291.6deg);
}

.c100.p82 .bar {
    -webkit-transform: rotate(295.2deg);
    -moz-transform: rotate(295.2deg);
    -ms-transform: rotate(295.2deg);
    -o-transform: rotate(295.2deg);
    transform: rotate(295.2deg);
}

.c100.p83 .bar {
    -webkit-transform: rotate(298.8deg);
    -moz-transform: rotate(298.8deg);
    -ms-transform: rotate(298.8deg);
    -o-transform: rotate(298.8deg);
    transform: rotate(298.8deg);
}

.c100.p84 .bar {
    -webkit-transform: rotate(302.40000000000003deg);
    -moz-transform: rotate(302.40000000000003deg);
    -ms-transform: rotate(302.40000000000003deg);
    -o-transform: rotate(302.40000000000003deg);
    transform: rotate(302.40000000000003deg);
}

.c100.p85 .bar {
    -webkit-transform: rotate(306deg);
    -moz-transform: rotate(306deg);
    -ms-transform: rotate(306deg);
    -o-transform: rotate(306deg);
    transform: rotate(306deg);
}

.c100.p86 .bar {
    -webkit-transform: rotate(309.6deg);
    -moz-transform: rotate(309.6deg);
    -ms-transform: rotate(309.6deg);
    -o-transform: rotate(309.6deg);
    transform: rotate(309.6deg);
}

.c100.p87 .bar {
    -webkit-transform: rotate(313.2deg);
    -moz-transform: rotate(313.2deg);
    -ms-transform: rotate(313.2deg);
    -o-transform: rotate(313.2deg);
    transform: rotate(313.2deg);
}

.c100.p88 .bar {
    -webkit-transform: rotate(316.8deg);
    -moz-transform: rotate(316.8deg);
    -ms-transform: rotate(316.8deg);
    -o-transform: rotate(316.8deg);
    transform: rotate(316.8deg);
}

.c100.p89 .bar {
    -webkit-transform: rotate(320.40000000000003deg);
    -moz-transform: rotate(320.40000000000003deg);
    -ms-transform: rotate(320.40000000000003deg);
    -o-transform: rotate(320.40000000000003deg);
    transform: rotate(320.40000000000003deg);
}

.c100.p90 .bar {
    -webkit-transform: rotate(324deg);
    -moz-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    -o-transform: rotate(324deg);
    transform: rotate(324deg);
}

.c100.p91 .bar {
    -webkit-transform: rotate(327.6deg);
    -moz-transform: rotate(327.6deg);
    -ms-transform: rotate(327.6deg);
    -o-transform: rotate(327.6deg);
    transform: rotate(327.6deg);
}

.c100.p92 .bar {
    -webkit-transform: rotate(331.2deg);
    -moz-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    -o-transform: rotate(331.2deg);
    transform: rotate(331.2deg);
}

.c100.p93 .bar {
    -webkit-transform: rotate(334.8deg);
    -moz-transform: rotate(334.8deg);
    -ms-transform: rotate(334.8deg);
    -o-transform: rotate(334.8deg);
    transform: rotate(334.8deg);
}

.c100.p94 .bar {
    -webkit-transform: rotate(338.40000000000003deg);
    -moz-transform: rotate(338.40000000000003deg);
    -ms-transform: rotate(338.40000000000003deg);
    -o-transform: rotate(338.40000000000003deg);
    transform: rotate(338.40000000000003deg);
}

.c100.p95 .bar {
    -webkit-transform: rotate(342deg);
    -moz-transform: rotate(342deg);
    -ms-transform: rotate(342deg);
    -o-transform: rotate(342deg);
    transform: rotate(342deg);
}

.c100.p96 .bar {
    -webkit-transform: rotate(345.6deg);
    -moz-transform: rotate(345.6deg);
    -ms-transform: rotate(345.6deg);
    -o-transform: rotate(345.6deg);
    transform: rotate(345.6deg);
}

.c100.p97 .bar {
    -webkit-transform: rotate(349.2deg);
    -moz-transform: rotate(349.2deg);
    -ms-transform: rotate(349.2deg);
    -o-transform: rotate(349.2deg);
    transform: rotate(349.2deg);
}

.c100.p98 .bar {
    -webkit-transform: rotate(352.8deg);
    -moz-transform: rotate(352.8deg);
    -ms-transform: rotate(352.8deg);
    -o-transform: rotate(352.8deg);
    transform: rotate(352.8deg);
}

.c100.p99 .bar {
    -webkit-transform: rotate(356.40000000000003deg);
    -moz-transform: rotate(356.40000000000003deg);
    -ms-transform: rotate(356.40000000000003deg);
    -o-transform: rotate(356.40000000000003deg);
    transform: rotate(356.40000000000003deg);
}

.c100.p100 .bar {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.c100:hover {
    cursor: default;
}

.c100:hover:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}