@charset "UTF-8";

/* CSS Document */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    overflow-x: hidden;
}


/* Header */

header {
    min-height: 120px;
    width: 100vw;
    background-color: #094740;
    padding: 20px 0 0 20px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-inner span {
    background-color: #FFFFFF;
    width: 2px;
    height: 2em;
    margin: 0 1% 0 1%;
}

.header-inner img {
    width: 15%;
}


/* Titles */

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #FFFFFF;
    margin: 0px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: #094740;
    font-weight: 800;
    line-height: 1em;
    margin: 0px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    color: #094740;
    font-weight: 800;
    line-height: 1em;
    margin: 0px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #FFFFFF;
    font-weight: 800;
    line-height: 1em;
    margin: 0px;
}


/* Paragraph */

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #094740;
}


/* Sections */

#access-to-tests {
    background-color: #FFFFFF;
    padding: 5% 0 5% 0;
    margin-top: 10px;
}

#why-study {
    width: 100vw;
    margin-top: 10%;
}

.reasons {
    width: 100vw;
    height: 130vh;
    padding: 5% 0 0 0;
    background: #094740;
}

.bullets {
    margin-top: 5%;
}

.bullets .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
    background-color: #0B5850;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
}


/*
.circle:hover {
    height: 130px;
    width: 130px;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}*/

.circle img {
    width: 50%;
    height: auto;
}

.bullets .item .legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    margin: 3% 0 3% 0;
    font-weight: 800;
    text-align: center;
}

.bullets .item p {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
}

#about-language {
    background: #4CB596;
    min-height: 400px;
    width: 100vw;
}

.description-language {
    margin-top: 5%;
}

.icon-flag img {
    width: 3%;
    height: auto;
    margin-right: 1%;
}

.description-language h2 {
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #646464;
}

.description-language p {
    color: #FFFFFF;
    margin-top: 3%;
}

.group-cards:first-child {
    margin-top: -10%;
}

.card {
    width: 100%;
    min-height: 320px;
    background: #F9F9F9;
    padding: 10%;
    box-shadow: 0px 6px 10px #00000029;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.card .title {
    color: #094740;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10%;
}

.card .legend {
    color: #094740;
    font-size: .8em;
    margin-bottom: 10%;
}

#how-work {
    margin-top: 5%;
    margin-bottom: 15%;
}

#how-work h2 {
    margin-bottom: 5%;
}

.info-test {
    margin-top: 5%;
}

.info-test .item {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.icon-interrogation img {
    width: 100%;
    height: auto;
}

.icon-clock img {
    width: 75%;
    height: auto;
}

.icon-questions img {
    width: 75%;
    height: auto;
}

.info-test .title {
    font-weight: 600;
    font-size: 1.2em;
    color: #FFFFFF;
    text-shadow: 0px 2px 3px #646464;
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.info-test .legend {
    color: #FFFFFF;
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}


/* Nav Buttoms */

.nav-button {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.nav-button .btn-arrow:first-child {
    margin-top: 50px;
}

.nav-button .btn-arrow:last-child {
    margin-bottom: 50px;
}


/* Buttoms */

.glyphicon {
    top: 3px!important;
    font-weight: normal!important;
}

.btn-arrow {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    min-width: 60%;
    background-color: #F9F9F9;
    color: #14A493;
    border-radius: 10px;
    text-align: left;
    padding: 2% 5% 2% 5%;
    margin: 8px 0 8px 0;
    font-weight: 600;
    box-shadow: 0px 2px #14A493;
}

.btn-arrow:hover,
.btn-arrow:focus {
    text-decoration: none;
    background-color: #14A493;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-start-test {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    min-width: 100%;
    background-color: #F9F9F9;
    color: #14A493;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 5% 2% 5%;
    margin: 8px 0 8px 0;
    font-weight: 600;
    box-shadow: 0px 2px #14A493;
    margin-bottom: 15%;
}

.btn-start-test:hover,
.btn-start-test:focus {
    text-decoration: none;
    background-color: #14A493;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-back {
    display: inline-block;
    position: relative;
    font-size: 1em;
    min-width: 200px;
    background-color: #0B5850;
    color: #4CB596;
    border-radius: 10px;
    text-align: right;
    left: 25%;
    padding: 1% 2% 1% 2%;
    text-transform: uppercase;
}

.btn-more {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    font-size: 1em;
    min-width: 220px;
    background-color: #0B5850;
    color: #4CB596;
    border-radius: 10px;
    text-align: left;
    padding: 1% 2% 1% 2%;
    text-transform: uppercase;
    margin-bottom: 3%;
}

.btn-back:hover,
.btn-more:hover,
.btn-more:focus {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #14A493;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.btn-start {
    display: inline-block;
    position: relative;
    font-size: 1em;
    min-width: 150px;
    background-color: #14A493;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 2% 10% 2% 10%;
    text-transform: uppercase;
}

.btn-start:hover,
.btn-start:focus {
    text-decoration: none;
    background-color: #094740;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}


/* Content */

.element-fade-up {
    margin-top: 20%;
    position: absolute;
}

.element-absolute {
    position: absolute;
    right: 0px;
}

.element-absolute img {
    width: 70%;
    height: auto;
}


/* Forms */

.form-contact {
    background-color: #0B5850;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 5%;
    margin-top: 10%;
}

input,
textarea {
    outline: none;
}

.form-contact-inner input:focus,
.form-contact-inner textarea:focus {
    border: solid 1px #FFFFFF;
}

.form-contact-inner input {
    display: inline-block;
    width: 48%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    background: #094740;
    margin-top: 5%;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
}

.form-contact-inner textarea {
    width: 100%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    background: #094740;
    margin-top: 3%;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
}

.form-contact-inner textarea,
.form-more-inner textarea {
    resize: none;
}

.form-contact-inner input::placeholder,
.form-contact-inner textarea::placeholder {
    color: #4CB596;
}

.form-contact-inner input:first-child {
    margin-right: 3%;
}

.form-contact-inner button {
    min-width: 100px;
    padding: 1%;
    border-radius: 10px;
    border: none;
    margin-top: 3%;
    background: #094740;
    font-family: inherit;
    font-size: inherit;
    color: #4CB596;
}

.form-contact-inner button:hover {
    background: #FFFFFF;
    color: #094740;
    font-weight: 600;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.modal-content {
    background: #F9F9F9;
    border: none;
    border-radius: 5px;
    outline: none;
}

.form-more {
    width: 100%;
    height: auto;
    padding: 10% 15% 15% 15%;
}

.form-more-inner label,
.form-more-information-inner label {
    color: #14A493;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    margin-top: 5%;
}

.form-more-inner input,
.form-more-information-inner input,
.form-more-inner textarea {
    display: inline-block;
    width: 100%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    background: #E3F2E8;
    color: #094740;
    font-family: inherit;
    font-size: inherit;
}

.form-more-inner input:focus,
.form-more-inner textarea:focus {
    border: solid 1px #7EC395;
}

.group-buttoms {
    width: 50%;
}

.form-more-inner button.send {
    width: 45%;
    margin-top: 5%;
    padding: 2% 8% 2% 2%;
    border-radius: 5px;
    border: none;
    text-align: right;
    background: #14A493;
    font-family: inherit;
    font-size: inherit;
    color: #FFFFFF;
    font-size: 1.2em;
    text-transform: uppercase;
}

.form-more-inner button.send:hover {
    background: #094740;
    color: #FFFFFF;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.form-more-inner button.back {
    width: 45%;
    margin-top: 5%;
    padding: 2% 2% 2% 8%;
    border-radius: 5px;
    border: solid 1px #7EC395;
    text-align: left;
    background: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    color: #7EC395;
    font-size: 1.2em;
    text-transform: uppercase;
}

.form-more-inner button.back:hover {
    background: #7EC395;
    color: #094740;
    -moz-transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.form-more-information {
    background-color: #F9F9F9;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 5%;
    margin-top: -10%;
}

.form-more-information-inner p {
    margin-top: 5%;
}

.form-more-information-inner form {
    width: 70%;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 3%;
}

.form-more-information-inner input[type=checkbox] {
    width: 20px;
}

.checkbox label {
    font-size: .8em;
    text-transform: none;
    color: #8B8E91;
    margin-top: 5px;
}


/* Footer */

footer {
    background: #094740;
    padding: 3% 0 3% 0;
}

footer .logo-marista {
    width: 40%;
    height: auto;
}

footer .logo-pucrs {
    width: 80%;
    height: auto;
}

footer .logo-lexis {
    width: 80%;
    height: auto;
}

hr.line {
    border: solid 1px #4CB596;
    margin-bottom: 3%;
}


/* Help Class */

.align-item-center {
    display: flex;
    align-items: center;
}