@charset "UTF-8";
/* CSS Document */

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* FONTES */

@font-face {
	font-family: Athelas;
	src: url('../fonts/Athelas.eot');
	src: url('../fonts/Athelas.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Open Sans Regular;
	src: url('../fonts/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Open Sans Light;
	src: url('../fonts/OpenSans-Light.eot');
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Open Sans Bold;
	src: url('../fonts/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Snickles;
	src: url('../fonts/Snickles.eot');
	src: url('../fonts/Snickles.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/* CONTEÚDO PÁGINA */

.container {
	max-width: 1040px;
	min-width: 940px;
	margin: 0 auto;
	overflow-x: hidden;
}
.row:before, .row:after {
	content: " ";
	display: table;
	clear: both;
}
section:after, div:before {
	content: "";
	display: block;
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
	clear: both;
}
#bodyContent p {
	color: #221F1F;	
}
/* GRID DE 8 COLUNAS */

.column {
	position: relative;
	float: left;
}
.column + .column {
	margin-left: 2.5%;
}
.column-1 {
	width: 10.3125%;
}
.column-2 {
	width: 23.125%;
}
.column-3 {
	width: 35.9375%;
}
.column-4 {
	width: 48.75%;
}
.column-5 {
	width: 61.5625%;
}
.column-6 {
	width: 74.375%;
}
.column-7 {
	width: 87.1875%;
}
.column-8 {
	width: 100%;
}
#spotlight {
	background-image:url(../img/back-spotlight.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: 399px;
	float:left;
	padding: 130px 0 0 0;
	margin: 130px 0 0 0;
}
address p {
	font-family: Open Sans Bold;
	font-size: 20px;
	line-height: 25px;
	color:#FFF;
	text-align: center;
}
#spotlight address {
	margin: 5% 0 0 0;
}
#pin {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 0 20px 0;
	width: 20px;
	height: 31px;
}
address span a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	text-decoration:none;
	font-family: Open Sans Regular;
	font-size: 13px;
	color: #FFF;
}
#about {
	background-image:url(../img/back-about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 990px;
	float:left;
	margin: 165px 0 0 0;
}
#about .container {
	padding: 145px 0 0 0;
}
#about .container h1 {
	text-align: left;
}
#about .container h2 {
	text-align: left;
	border-bottom: solid 2px #CF9A2B;
	width: 32%;
}
#box-text-top {
	position: absolute;
	margin: 3% 0 0 14.5%;
	float: left;
	background-image: url(../img/border-box-top-right.png);
	background-repeat: no-repeat;
	background-position: top right;
	width: 100%;
	height: 28px;
}
#box-text {
	float: left;
	width: 100%;
	padding: 3%;
	height: auto;
	margin: 5% 0 0 5%;
	border: solid 4px #FFFFFF;
}
#box-text-bottom {
	position: relative;
	margin: -3.1% 0 0 3%;
	float: left;
	background-image: url(../img/border-box-bottom-left.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 28px;
}
.illustraition-wrap {
	margin: 50% 0 0 0;
}
.illustraition-wrap img {
	vertical-align: middle;
	height: auto;
	border:0;
}
.illustraition {
	position: relative;
	z-index:2;
}
#catalog {
	background-color: #323232;
	background-image: url(../img/catalog-giz.png);
	background-position: top center;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	float: left;
}
#catalog .container {
	padding: 145px 0 0 0;
}
#catalog .container h1 {
	text-align: left;
}
#catalog .container h2 {
	text-align: left;
	border-bottom: solid 2px #993300;
	width: 50%;
	margin: 0 0 85px 0;
}
#catalog .line-band {
	margin: 75px 0 0 0;	
}
#catalog .line-bottom-band {
	display: block;
	margin-left: 10.3125%;
	margin-right: 10.3125%;
	width: 100%; /* 683px% */
	height: 11px;
	padding: 35px 0 35px 0;
}
#location {
	background-color: #F8B735;
	background-image: url(../img/back-location.png);
	background-position: top right;
	width: 100%;
	float: left;
	background-repeat: no-repeat;
	height: 300px;
}
#location .container {
	padding: 145px 0 0 0;
}
#location h1 {
	text-align: left;
	color: #221F1F;
}
#location h2 {
	text-align: left;
	color: #221F1F;
	border-bottom: solid 2px #993300;
	width: 50%;
	margin: 0 0 45px 0;
}
#map {
	width: 100%;
	height: 350px; 
}
#reservation {
	background-color: #F8B735;
	background-image: url(../img/back-reservation.png);
	background-position: top center;
	width: 100%;
	float: left;
	background-repeat: no-repeat;
	height: auto;
	margin: 300px 0 0 0;
}
#reservation .container {
	padding: 145px 0 0 0;
}
#reservation .container h1 {
	text-align: left;
	color: #221F1F;
}
#reservation .container h2 {
	text-align: left;
	border-bottom: solid 2px #993300;
	width: 64%;
	margin: 0 0 85px 0;
	color: #221F1F;
}
#reservation address p {
	font-family: Open Sans Bold;
	font-size: 20px;
	line-height: 25px;
	color:#221F1F;

}
#reservation h4 {
	font-family: Snickles;
	font-size: 39px;
	line-height: 42px;
	text-align: center;
	width: 100%;
	color: #221F1F;
	background-image: none;
	height: auto;
	margin: 3% 0 0 0;
}
#social-footer {
	width: 190px;
	height: 49px;
	float: left;
	margin: 1% 0 3% 0;
	margin-left: 45%; /* 23.125%; 35.9375%; 48.75% */
	margin-right: 45%; /* 23.125%; 35.9375%; 48.75% */
}
#social-footer img a {
	display: inline;
	margin: 0 1% 0 0;
}
#footer {
	width: 100%;
	background-color: #000000;
	height: auto;
	padding: 1% 0 1% 0;
	float:left;		
}
#footer p {
	font-family: Open Sans Regular;
	font-size: 13px;
	line-height: 17px;
	color: #FFF;
	text-align: left;
}


/* FORMULÁRIO */
label {
	font-family: Open Sans Bold;
	font-size: 20px;
	color: #211F1F;
	text-align: left;
	text-transform: uppercase;
	float: left;
}
.insert {
	background-color: #FFF;
	border: solid 2px #993300;
	height: 40px;
	width: 100%;
	font-family: Open Sans Regular;
	color: #211F1F;  	
	font-size: 20px;
	padding: 1%;
	margin: 0 0 3% 0;
	float: left;
}
.text {
	background-color: #FFF;
	border: solid 2px #993300;
	height: 328px;
	width: 100%;
	font-family: Open Sans Regular;
	color: #211F1F;  	
	font-size: 20px;
	padding: 1%;
	margin: 0 0 3% 0;
	float: left;
}
span.customSelect {
	background-color: #FFF;
	border: solid 2px #993300;
	height: 40px;
	width: 100%;
	font-family: Open Sans Regular;
	color: #211F1F;  	
	font-size: 20px;
	padding: 1%;
	margin: 0 0 3% 0;
	float: left;
}
.customSelectInner {
	cursor:pointer;
	display:inline-block;
	background:url(../img/custom-select.jpg);
	background-repeat:no-repeat;
	background-position:right;
	height:40px;
}
form select {
	z-index:100;
}
form option {
	color: #211F1F;
	font-family: Open Sans Regular;
	font-size: 20px;
}
.send {
	display: block;
	background-color: #993300;
	color: #FFF;
	font-family: Open Sans Regular;
	font-size: 20px;
	text-decoration: none;
	text-transform:uppercase;
	border: none;
	padding: 2%;
	width: 25%;
	float: right;
}
/* ITENS DO MENU/CATÁLOGO/PRODUTOS */
.item {
	float:left;
	margin: 0 0 35px 0;
}
.item-image-wrap {
	background-image: url(../img/border-item.png);
	background-repeat: no-repeat;
	float: left;
	width: 100%;
	height: 100%;
	padding: 8% 0 5% 5%;
}
.item-image-wrap:hover {
	background-image: url(../img/border-select-item.png);
}
.item-inner {
	height: 100%;
	float:left;
}
.item h1 {
	text-align: left;
	margin: 0 0 25px 0;
	line-height: 45px;
}
.item p {
	font-style: italic;
}

/* CARROSSEL */

#carrossel {
	background-image: url(../img/back-carrossel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 165px;
	float: left;
	margin: 92px 0 0 0;
}
#carrossel-wrap {
	float: left;
	height: 150px;
	width: 100%;
}
#carrossel-wrap ul {
	width: 100%;
	float: left;
	height: 150px;
}
#carrossel-wrap li {
	margin: 15px auto;
	height: 130px;
	width: 100%;
}
#carrossel-wrap img {
	float: left;
}
#carrossel-wrap div {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}
#carrossel-wrap h3 {
	margin: 0 0 0 125px;
}
#carrossel-wrap p {
	margin: 0 0 0 125px;
	color: #221F1F;
	font-style: italic;
}
#menu-carrossel {
	margin: 55px 0 0 0;
	position: absolute;
	float: left;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
}
.prev {
	background-image: url(../img/prev-arrow.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	display: block;
	float: left;
}
.next {
	background-image: url(../img/next-arrow.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	display: block;
	float: right;
}
/* CABEÇALHO */

#header {
	position: fixed;
	z-index: 1000;
	height: 130px;
	width: 100%;
	background-color: #000000;
}
#header #logo {
	float: left;
	width:  218px;
	height: 102px;
	background-image: url(../img/logo.jpg);
	margin:1% 0 1% 0;
}
/* MENU DE NAVEGAÇÃO */

nav {
	float: left;
	margin: 6.5% 0 0 15%;
	z-index: 10000;
}
nav li {
	display: inline-block;
	margin: 0 8px 0 8px;
}
nav li a {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Athelas;
	font-size: 15px;
	text-transform: uppercase;
}
li.active a, li a:hover {
	padding: 8px;
	margin: -8px;
	color: #FFF;
	background-color: #F8B735;
	border-radius: 15px;
	-moz-transition: 0.3s all ease-out;
	-webkit-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
}
#social {
	width: 70px;
	height: 20px;
	float: right;
	margin: 6.5% 0 0 0;
}
#social img {
	display: inline-block;
	padding: 0 3% 0 3%;
}
a.no-transitions {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border-radius: 0;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
/* TÍTULOS */

h1 {
	font-family: Athelas;
	font-size: 39px;
	line-height: 42px;
	text-align: center;
	color: #FFF;
}
h2 {
	font-family: Open Sans Bold;
	font-size: 47px;
	text-align: center;
	color: #FFF;
	text-transform:uppercase;
}
h3 {
	font-family: Open Sans Bold;
	font-size: 20px;
	text-align: left;
	color: #221F1F;
	text-transform:uppercase;
}
h4 {
	font-family: Snickles;
	font-size: 39px;
	line-height: 70px;
	text-align: center;
	width: 458px;
	color: #FFF;
	background-image: url(../img/band-catalog.png);
	height: 112px;
	margin: 0 0 45px 0;
}
/* PARÁGRAFO */

p {
	font-family: Athelas;
	font-size: 15px;
	line-height: 18px;
	color: #FFF;
	text-align: left;
}
